* {
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}
@media (max-width: 768px){
  body.hidden{
    overflow: hidden;
  }
}
.gif-ukraine {
  position: absolute;
  z-index: 5;
  top: 130px;
  width: 60px;
  height: 60px;
}
.gif-ukraine-lef {
  left: 0;
}
.gif-ukraine-right {
  right: 0;
  width: 40px;
  height: 40px;
}
.gif-ukraine-right img {
  transform: rotateY(-180deg);
}
@media (max-width: 768px) {
  .flag-gifs {
    display: none;
  }
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
button{
  background: transparent;
  border: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
}
@media (max-width: 800px) {
  .container {
    padding: 0 8px;
  }
}
.title{
  font-size: 56px;
  line-height: 76px;
  font-weight: 700;
  padding: 40px 0;
}
.main__title{
  color: #FFD500;
}
@media (max-width: 768px) {
  .title{
    font-size: 42px;
    line-height: 44px;
    font-weight: 700;
    padding: 25px 0 25px;
  }
}
.contacts__item {
  position: relative;
  margin: 0 0 16px 0;
  font-size: 18px;
  transition: all .6s ease;
}
.contacts__item:hover {
  color: #FFD500;
  transition: all .6s ease;
}
.contacts__item:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.contacts__item a {
  font-size: 14px;
  color: #0786A5;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 0 4px 24px ;
  display: block;
  position: relative;
  z-index: 10;
  transition: all .6s ease;
}
.contacts__item a:hover {
  color: #144652;
  transition: all .6s ease;
}
._btn {
  display: inline-block;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  background: #1BBAE1;
  transition: all .6s ease;
  font-weight: 700;
}
._btn:hover {
  color: #144652;
  background: #FFD500;
  transition: all .6s ease;
}
.image-responsive{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-link {
  color: #0786A5;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .main-link {
    flex-wrap: wrap;
    padding: 100px 0 30px;
  }
}
.main-link__anchor {
  font-weight: 700;
  color: #0786A5;
  padding: 0 5px 0 0;
  transition: all .6s ease;
}
.main-link__anchor:hover {
  color: #144652;
  text-decoration: underline;
  transition: all .6s ease;
}
.main-link__subanchor {
  font-weight: 700;
  color: #0786A5;
  padding: 0 5px 0 0;
  transition: all .6s ease;
}
.main-link__subanchor:hover {
  color: #144652;
  text-decoration: underline;
  transition: all .6s ease;
}

#anchor-top{
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-size: 24px;
  border-radius: 50%;
  background: #0786A5;
  color: #fff;
  transform: rotate(90deg);
  padding: 7px;
  visibility: visible;
  opacity: 1;
  transition: all .6s ease;
}
#anchor-top.show{
  visibility: visible;
  opacity: 1;
  transition: all .6s ease;
}