@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aptnet');
  src:  url('../fonts/icomoon.eot?aptnet#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aptnet') format('truetype'),
    url('../fonts/icomoon.woff?aptnet') format('woff'),
    url('../fonts/icomoon.svg?aptnet#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-whatsapp:before {
  content: "\e905";
}
.icon-viber:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
