.main {
	flex: 1 1 auto;
	margin: 30px 0 0 0;
	position: relative;
}
@media (max-width: 768px) {
	.main {
		margin: 80px 0 0 0;
	}
}
.main__container {
	position: relative;
	z-index: 1;
}
/*MAIN-PICTURE---------------------------------------------------------*/
.main__picture {
	width: 100%;
	height: 286px;
	background: url(../image/main-background-image.png) center / cover;
}
/*ODA-----------------------------------------------------------------*/
.oda__container {
	height: 742px;
	position: relative;
}
.oda__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0 0 50% 0;
}
.oda__content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	font-weight: 700;
	font-size: 56px;
	line-height: 76px;
	color: #FFD500;
	z-index: 5;
}
.oda__color-blue {
	color: #0786A5;
}
.oda__color-red {
	color: #E32828;
}
@media (max-width: 768px) {
	.oda {
		margin: 0 0 10px 0;
	}
	.oda__container {
		height: 400px;
	}
	.oda__content {
		left: 16%;
		font-size: 48px;
		line-height: 48px;
	}
}
@media (max-width: 570px) {
	.oda__container {
		height: 280px
	}
	.oda__content {
		left: 12%;
		font-size: 28px;
		line-height: 30px;
	}
}
