<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row">
      <div class="footer__logo logo">
        <a href="/" class="logo__link">
          <img th:src="@{/img/logo.png}" alt="БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»">
        </a>
      </div>
    </div>
    <div class="footer__body">
      <div class="footer__item contacts">
        <h3 class="footer__subtitle">Контакти</h3>
        <div class="contacts__items">
          <div class="contacts__item icon-location2">м.Вінниця</div>
          <div class="contacts__item icon-phone">
            <a href="tel:+380502845065">+380 50 284 50 65</a>
          </div>
          <div class="contacts__item icon-envelop">
            <a href="mailto:safeukrfund@gmail.com">safeukrfund@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="footer__item messengers">
        <h3 class="footer__subtitle">Месенджери</h3>
        <div class="messengers__items">
          <div class="messengers__item contacts__item">
            <a title="Viber" href="viber://chat?number=380502845065">+380 50 284 50 65</a>
          </div>
          <div class="messengers__item contacts__item">
            <a title="Telegram" href="https://telegram.me/SaveUA_2022" target="_blank">+380 50 284 50 65</a>
          </div>
          <div class="messengers__item contacts__item">
            <a title="Whatsapp" href="whatsapp://send?phone=380502845065">+380 50 284 50 65</a>
          </div>
        </div>
      </div>
      <div class="footer__item social-media">
        <h3 class="footer__subtitle">Підписуйтесь на нас</h3>
        <div class="social-media__items">
          <div class="social-media__item">
            <a th:href="@{https://www.instagram.com/save_ukraine_fund/?igshid=YmMyMTA2M2Y=}" class="icon-instagram" target="blank"></a>
          </div>
          <div class="social-media__item">
            <a th:href="@{https://www.facebook.com/people/%D0%90%D0%BD%D1%82%D0%BE%D0%BD-%D0%A1%D0%B8%D0%B2%D0%B5%D1%80%D1%81/100080429317587/}" class="icon-facebook" target="blank"></a>
          </div>
          <div class="social-media__item">
            <a href="#!" class="icon-twitter" target="blank"></a>
          </div>
        </div>
      </div>
      <div class="footer__item links-help">
        <a th:href="@{/help/become-volunteer#become-volunteer}">Стати волонтером</a>
        <a th:href="@{/help/donation#donation-now}">Пожертвувати</a>
      </div>
      <div class="footer__copyright copyright">
        <div class="copyright__item">(с) Всі права захищено, 2022.</div>
        <div class="copyright__item">Сайт розробляли:</div>
        <div class="copyright__item"><a href="#!">Тарас Шевченко</a>,</div>
        <div class="copyright__item"><a href="#!">Леся Українка</a>,</div>
        <div class="copyright__item"><a href="#!">Богдан Хмельницький</a>.</div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
