<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <div id="content-header" class="header__content">
        <div class="content-header__contacts">
          <div class="content-header__tel contacts__item icon-phone">
            <a href="tel:+380502845065">+380 50 284 50 65</a>
          </div>
          <div class="content-header__email contacts__item icon-envelop">
            <a href="mailto:safeukrfund@gmail.com">safeukrfund@gmail.com</a>
          </div>
        </div>
        <div class="content-header__logo logo">
          <a href="/" class="logo__link">
            <img th:src="@{/img/logo.png}" alt="БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»">
          </a>
        </div>
        <div class="content-header__language language">
          <a href="#!" class="language__link"></a>
          <p class="language__text">English version</p>
          <p class="language__text_short">En</p>
        </div>
      </div>
      <button type="button" id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
</body>
</html>