<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <div id="content-header" class="header__content">
        <div class="content-header__contacts">
          <div class="content-header__tel contacts__item icon-phone">
            <a href="tel:+380502845065">+380 50 284 50 65</a>
          </div>
          <div class="content-header__email contacts__item icon-envelop">
            <a href="mailto:safeukrfund@gmail.com">safeukrfund@gmail.com</a>
          </div>
        </div>
        <div class="content-header__logo logo">
          <a href="/" class="logo__link">
            <img th:src="@{/img/logo.png}" th:alt="#{header.logo.alt}">
          </a>
        </div>
        <div class="content-header__language">
          <div class="icons-language">
            <div class="icon-language img-active" id="flag-ukr">
              <img th:src="@{/img/ukraine.png}" th:alt="#{header.flag.ukraine.alt}">
            </div>
            <div class="icon-language" id="flag-en">
              <img th:src="@{/img/england.png}" th:alt="#{header.flag.english.alt}">
            </div>
            <div class="icon-language" id="flag-ru">
              <img th:src="@{/img/ru-ship.jpg}" th:alt="#{header.flag.russian.alt}">
            </div>
          </div>
          <form th:action="@{/language}" method="get" action="#" id="form-language">
            <select class="js-example-basic-single language-select" name="lang" onchange="this.form.submit()">
              <option value="ua" data-option_flag="flag-ukr" class="language-option" th:text="#{header.language.selector.ukr.text}"></option>
              <option value="en" data-option_flag="flag-en" class="language-option" th:text="#{header.language.selector.eng.text}"></option>
              <option value="ru" data-option_flag="flag-ru" class="language-option" th:text="#{header.language.selector.rus.text}"></option>
            </select>
            <button type="submit" hidden></button>
          </form>
        </div>
      </div>
      <button type="button" id="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
</body>
</html>