<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="main-menu" id="menu-stiky">
  <div class="main-menu__container container">
    <div class="menu__row" id="main-menu">
      <div class="main-menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <p class="menu__link" th:text="#{menu.main-info}"></p>
            <ul class="menu__sub-list">
              <li><a th:href="@{/about-us#about-us}" class="menu__sub-link" th:text="#{menu.main-info.about-fond}"></a></li>
              <li><a th:href="@{/about-founder#about-founder}" class="menu__sub-link" th:text="#{menu.main-info.about-founder}"></a></li>
              <li><a th:href="@{/help/donation#donation-now}" class="menu__sub-link" th:text="#{menu.main-info.requisites}"></a></li>
              <li><a th:href="@{/about-us#statutory-documents}" class="menu__sub-link" th:text="#{menu.main-info.docs}"></a></li>
            </ul>
          </li>
          <li class="menu__item">
            <a th:href="@{/help#how-can-help}" class="menu__link" th:text="#{menu.projects}"></a>
            <ul class="menu__sub-list">
              <li>
                <a th:href="@{/help/become-volunteer#become-volunteer}" class="menu__sub-link" th:text="#{menu.projects.become-volunteer}"></a>
              </li>
              <li>
                <a th:href="@{/help/donation#donation}" class="menu__sub-link" th:text="#{menu.projects.donation}"></a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a th:href="@{/about-kharkiv#about-kharkiv}" class="menu__link" th:text="#{menu.about-kharkiv}"></a>
          </li>
          <li class="menu__item">
            <a th:href="@{/reports#reports}" class="menu__link" th:text="#{menu.blog}"></a>
          </li>
          <li class="menu__item">
            <a th:href="@{/contacts#contacts}" class="menu__link" th:text="#{menu.contacts}"></a>
          </li>
        </ul>
      </div>
      <div class="menu__donate donate">
        <a th:href="@{/help/donation#donation-now}" class="donate__link _btn" th:text="#{menu.help.donate}"></a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>