<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="main-menu" id="menu-stiky">
  <div class="main-menu__container container">
    <div class="menu__row" id="main-menu">
      <div class="main-menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <p class="menu__link">Oсновна інформація</p>
            <ul class="menu__sub-list">
              <li><a th:href="@{/about-us#about-us}" class="menu__sub-link">Про Фонд</a></li>
              <li><a th:href="@{/about-founder#about-founder}" class="menu__sub-link">Про засновника</a></li>
              <li><a th:href="@{/help/donation#requisites}" class="menu__sub-link">Реквізити</a></li>
              <li><a th:href="@{/about-us#statutory-documents}" class="menu__sub-link">Документи</a></li>
            </ul>
          </li>
          <li class="menu__item">
            <a th:href="@{/help#how-can-help}" class="menu__link">Наші Проєкти</a>
            <ul class="menu__sub-list">
              <li>
                <a th:href="@{/help/become-volunteer#become-volunteer}" class="menu__sub-link">Стати волонтером</a>
              </li>
              <li>
                <a th:href="@{/help/donation#donation}" class="menu__sub-link">Пожертвувати кошти</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">Про місто-герой Харків</a>
          </li>
          <li class="menu__item">
            <a th:href="@{/reports#reports}" class="menu__link">Блог</a>
            <ul class="menu__sub-list">
              <li><a th:href="@{/reports/report#report-item}" class="menu__sub-link">Звіт від 15-03-2022</a></li>
            </ul>
          </li>
          <li class="menu__item">
            <a th:href="@{/contacts#contacts}" class="menu__link">Контакти</a>
          </li>
        </ul>
      </div>
      <div class="menu__donate donate">
        <a th:href="@{/help/donation#donation-now}" class="donate__link _btn">Допомогти</a>
      </div>
    </div>
  </div>
</nav>
</body>
</html>