/*ABOUT US-------------------------------------------------------------*/
.about-us__text {
	position: relative;
	background: #FFD500;
	padding: 65px 145px 40px;
}
@media (max-width: 768px) {
	.about-us__text {
		padding: 35px 35px 20px;
	}
}
@media (max-width: 500px) {
	.about-us__text {
		padding: 35px 15px 15px;
	}
}
.about-us__text:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 25px;
	z-index: 5;
	background: #0786A5;
}
.about-us__parag {
	color: #144652;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 20px 0;
	text-align: justify;
}
@media (max-width: 768px) {
	.about-us__parag {
		font-size: 16px;
	}
}
.about-us__parag:last-child {
	margin: 0;
}
.about-us__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-us__content-item {
	flex: 0 0 33.33%;
	padding: 50px 0;
	text-align: center;
}
.about-us__content-item:nth-child(2) {
	position: relative;
}
.about-us__content-item:nth-child(2):before, .about-us__content-item:nth-child(2):after {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 200px;
	background: #0786A5;
}
.about-us__content-item:nth-child(2):before {
	left: 0;
}
.about-us__content-item:nth-child(2):after {
	right: 0;
}
@media (max-width: 992px) {
	.about-us__content-item:nth-child(2):before, .about-us__content-item:nth-child(2):after {
		display: none;
	}
}
@media (max-width: 768px) {
	.about-us__content-item:nth-child(2):before, .about-us__content-item:nth-child(2):after {
		display: block;
		left: 50%;
		transform: translateX(-50%);
		width: 200px;
		height: 1px;
	}
	.about-us__content-item:nth-child(2):before {
		top: 0;
	}
	.about-us__content-item:nth-child(2):after {
		top: 100%;
	}
}
.content-item__text {
	min-width: 250px;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #144652;
	padding: 45px 20%;
	margin: 0 auto;
	text-align: left;
}
@media (max-width: 992px) {
	.about-us__content-item {
		flex: 0 0 50%;
		padding: 40px 0;
	}
	.content-item__text {
		padding: 35px 60px 5px;
	}
}
@media (max-width: 768px) {
	.about-us__content-item {
		flex: 1 1 auto;
		padding: 30px 0 ;
	}
	.content-item__text {
		padding: 25px 30px 0 30px;
		text-align: center;
		margin: 0;
	}
}
@media (max-width: 450px) {
	.content-item__text {
		padding: 25px 0 0 0;
	}
}
.about-us__images {
	display: flex;
	justify-content: space-between;
	margin: 0 -25px 95px;
}
.about-us__images_bound {
	flex: 0 1 50%;
	width: 100%;
	padding: 0 25px;
}
	.about-us__image {
		position: relative;
		padding: 0 0 55% 0;
	}
@media (max-width: 768px) {
	.about-us__images {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.about-us__images_bound{
		flex: 1 1 auto;
		padding: 0;
		margin: 0 0 20px 0;
	}
}