.volunteer-content__text:first-child {
  margin: 0 0 30px 0;
}

/*FORM------------------------------------------------*/
.volunteer-form {
  display: flex;
  justify-content: space-between;
  margin: 44px 0 100px;
}

@media (max-width: 768px) {
  .volunteer-form {
    margin: 20px 0 28px;
  }
}

@media (max-width: 650px) {
  .volunteer-form {
    flex-direction: column;
  }
}

.volunteer-form__body{
  padding: 12px 0 12px 33px;
}

@media (max-width: 650px) {
  .volunteer-form__body {
    padding: 0 8px;
  }
}

.volunteer-form__body h3 {
  padding: 0 0 44px 0;
}

.volunteer-content__list {
  margin: 0 0 30px 0;
}

@media (max-width: 650px) {
  .volunteer-form__body h3 {
    padding: 0 0 24px 0;
  }

  .volunteer-content__list {
    margin: 0 0 16px 0;
  }
}

.volunteer-content__item {
  font-size: 18px;
  line-height: 25px;
  color: #144652;
}

@media (max-width: 768px) {
  .volunteer-content__item {
    font-size: 14px;
    line-height: 22px;
  }
}

.volunteer-form__image {
  flex: 0 0 41%;
  position: relative;
  padding: 0 0 51% 0;
}

@media (max-width: 650px) {
  .volunteer-form__image {
    padding: 0 0 75% 0;
  }
}

.volunteer-form__body {
  flex: 1 1 auto;
}

.form-volunteer__item {
  margin: 0 0 20px 0;
}

.form-volunteer__item:last-child {
  margin: 0 0 34px 0;
}

.form-volunteer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 0 0 7px 0;
  color: #0786A5;
}

input.form-volunteer__input {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.form-volunteer__input {
  background-position: 2%;
}

.form-volunteer__input:focus-visible {
  background-position: 2%;
}


/*FORM after sendin----------------------------------------*/
.form-volunteer {
  display: block;
}
@media (max-width: 650px) {
  .form__btn {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

}
/*FORM after sendin----------------------------------------*/
.form-volunteer.form-hidden {
  display: none;
}

.volunteer-form__sending {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.sending-form {
  display: none;
}
.sending-form.form-sent {
  display: block;
}

.sending-form.form-sent {
  display: block;
}

.sending-form__content {
  color: #00AD64;
  position: relative;
  padding: 0 0 80% 60px;
}

@media (max-width: 650px) {
  .sending-form__content{
    padding: 0 0 24px 60px;
  }
}

.sending-form__content:before {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  background: url(../ime/check-mark.svg);
  left: 0;
  top: 0;
}

.sending-form__text:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.sending-form__text:last-child {
  font-size: 16px;
  line-height: 22px;
}

.sending-form__link {
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #00AD64;
  cursor: pointer;
  transition: all .5s ease;
}

.sending-form__link:hover {
  text-decoration: none;
  transition: all .5s ease;
}
