.donation__container {
  width: 100%;
}

.donation__text {
  padding: 0 0 45px 0;
}

.donation__image {
  position: relative;
  padding: 0 0 25% 0;
}

.donation__subtitle {
  padding: 45px 0 70px;
}

@media (max-width: 768px) {
  .donation__title {
    font-size: 36px;
    line-height: 36px;
  }

  .donation__subtitle {
    padding: 20px 0 28px;
  }
}

/*TABS------------------------------------------------*/
.donation__tabs {
  margin: 0 0 95px 0;
}

@media (max-width: 768px) {
  .donation__tabs {
    margin: 0 0 28px 0;
  }
}

.nav-tabs {
  display: flex;
  position: relative;
  transform: translateY(1px);
}

.nav-tabs__item {
  border: 1px solid #0786A5;
  margin: 0 17px 0 0;
  padding: 9px 19px;
  color: #0786A5;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-tabs__item {
    font-size: 14px;
    padding: 4px 6px;
    line-height: 16px;
  }
}

.nav-tabs__item.tabs-active {
  background: #0786A5;
  color: #fff;
}

.nav-tabs__item:last-child {
  margin: 0;
}

.tabs-donation__pages {
  border: 1px solid #0786A5;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .tabs-donation__pages {
    padding: 0 0 24px 0;
  }
}

.tabs-donation__page {
  display: none;
  color: #0786A5;
  padding: 46px 30px 36px 50px;
}

@media (max-width: 768px) {
  .tabs-donation__page {
    padding: 0 16px;
  }
}

.tabs-donation__page.tabs-active {
  display: block;
}

.tabs-donation__page.tabs-active:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 4px;
}

.tabs-donation__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  padding: 0 0 23px 0;
}

@media (max-width: 768px) {
  .tabs-donation__title {
    font-size: 22px;
    padding: 20px 0 16px;
  }
}

/*Page card---------------------------*/
.card-donate {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .card-donate {
    flex-direction: column;
    text-align: center;
  }
  .card-donate__qrs {
    order: 2;
    margin: 16px 0 0 0;
  }
}

.card-donate__qr {
  display: none;
}

.card-donate__qr img {
  max-width: 200px;
  object-fit: cover;
}

.card-donate__qr.img-active {
  display: block;
}

.card-donate__content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 17px 0 0 50px;
}
@media (max-width: 768px) {
  .card-donate__content {
    padding: 0;
  }
}

/*Button-----------------------------------*/
.card-donate__row {
 display: inline-flex;
 margin: 15px 0 0 0;
}

.card-donate__btn {
  flex: 0 0 40%;
  margin: 0 16px 0 0;
}

.pay-systems {
  flex: 0 0 30%;
  display: inline-flex;
  align-items: center;
}

.pay-systems__item {
  position: relative;
  display: inline-flex;
  margin: 0 0 0 4px;
}
.card-donate__content p {
  margin: 16px 0 0 0;
  font-size: 12px;
}

/*requisites----------------------------*/
.requisites__body {
    font-size: 18px;
  line-height: 25px;
}

.requisites__body p {
  margin: 0 0 20px;
}

@media (max-width: 550px) {
  .requisites__body {
    font-size: 16px;
    line-height: 25px;
  }

  .requisites__body p {
    margin: 0 0 12px;
  }
}

@media (max-width: 450px) {
  .requisites__body {
    font-size: 14px;
    line-height: 22px;
  }
}

.requisites__body h4{
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #144652;
  padding: 12px 0 16px;
}

.requisites__body span {
  color: #C4C4C4;
  text-decoration: underline;
  padding: 0 10px 0 0;
}

.iban__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 16px 0;
}

@media (max-width: 550px) {
  .iban__row {
    margin: 0 0 8px 0;
  }
}

.iban__row p {
  margin: 0 20px 4px 0;
}

.iban__row p:last-child {
  font-size: 14px;
  margin: 0 0 4px 0;
}

/*PAY PAL------------------------------------------*/
.paypal__image {
  position: relative;
}

.paypal__image img {
  max-width: 300px;
}
@media (max-width: 450px) {
  .paypal__image img {
    max-width: 200px;
  }
}

.paypal__row {
  display: inline-flex;
  padding: 30px 0;
  flex-direction: column;
}

.paypal__number {
  padding: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  line-height: 22px;
  font-weight: 700;
  display: inline-block;
  margin: 0 0 12px 0;
}

.copy-text {
  color: #144652;
  text-decoration: underline;
  cursor: pointer;
}
