.header {
  position: relative;
  z-index: 15;
  width: 100%;
  max-height: 86px;
}

.header:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: all .8s ease;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    max-height: 70px;
  }

  .header:before{
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  header.transperent:before {
    background: transparent;
    box-shadow: none;
    transition: all .8s ease;
  }

  .header__container {
    padding: 0 16px;
  }
}

.header__body {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header__body {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .header__container {
    padding: 0 8px;
  }
}

/*CONTACTS-LOGO-----------------------------------------------------------*/
.content-header__tel {
  margin: 0 0 4px 0;
}

.content-header__email{
  margin: 0;
}

.header__content {
  flex: 1 1 auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  color: #0786A5;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .header__content {
    padding: 0 0 2px 0;
  }

  .content-header__contacts {
    display: none;
  }

  .content-header__logo {
    align-self: flex-start;
    flex: 0 0 77%;
    order: 1;
  }
}

@media (max-width: 550px) {
    .content-header__logo {
      flex: 0 0 45%;
    }
}

/*Contacs + menu active*/
@media (max-width: 768px) {
  .header__content.active-contacts {
    flex-wrap: wrap;
  }

  .active-contacts.content-header__contacts {
    order: 3;
    display: block;
    margin: 16px 0 0 0;
  }
}

/*LANGUAGE---------------------------------------------------------*/
.content-header__language {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .content-header__language {
    flex: 0 0 23%;
    order: 2;
  }
}

@media (max-width: 550px) {
  .content-header__language {
    padding: 0;
    margin: 0 10px 0 0;
  }
}

.icons-language {
  margin: 0 12px 0 0;
}

.icon-language {
  display: none;
}

.icon-language.img-active{
  display: block;
}

.language-option{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
}

/*Select language--------------------------------*/
#form-language span.select2-selection--single {
 text-transform: uppercase;
  border: none;
  padding: 0;
  height: 36px;
}

@media (max-width: 768px) {
  #form-language span.select2-selection--single {
    background: transparent;
    text-transform: none;
  }
}

#form-language span.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 6px 20px 8px 0;
}

#form-language span.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: .5px solid #0786A5;
}

#form-language span.select2-container--default.select2-container--open .select2-dropdown {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0
  line-height: 20px;
}

#form-language span.select2-container--default .select2-search--dropdown .select2-search__field {
  display: none;
}
#form-language span.select2-container--default .select2-dropdown {
  padding: 0;
}

#form-language span.select2-container--default .selection .select2-selection--single .select2-selection__arrow {
  width: 10px;
}

#form-language span.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 8px 4px 0 4px;
  margin-top: -1px;
}

#form-language span.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-width: 0 4px 8px 4px;
  margin-top: -1px;
}

/*BURGER------------------------------------------------------------*/
#burger-menu {
  display: none;
}

@media (max-width: 768px) {
  #burger-menu {
    display: block;
    background: transparent;
    flex: 0 0 30px;
    height: 20px;
    position: relative;
    z-index: 15;
    right: 0;
    top: 0;
    align-self: center;
  }

  #burger-menu.open {
    align-self: flex-start;
    margin: 22px 0 0 0;
  }

  #burger-menu span {
    width: 100%;
    height: 2px;
    background: #0786A5;
    position: absolute;
    left: 0px;
    transition: all .5s ease;
  }

  #burger-menu span:first-child {
    top: 0;
  }

  #burger-menu span:nth-child(2){
    top: 9px;
  }
  #burger-menu span:last-child {
    bottom: 0;
  }

  #burger-menu.open span:first-child {
    top: 9px;
    transform: rotate(225deg);
  }

  #burger-menu.open span:nth-child(2) {
    transform: rotateX(90deg);
  }

  #burger-menu.open span:last-child {
    top: 9px;
    transform: rotate(-225deg);
  }
}
