/*HOW-CAN-HELP---------------------------------------------------*/
.main-link {
	color: #0786A5;
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 22px;
	padding: 30px 0;
}
@media (max-width: 768px) {
	.main-link {
	padding: 100px 0 30px;
	}
}
.main-link__anchor {
	font-weight: 700;
	color: #0786A5;
	padding: 0 5px 0 0;
	transition: all .6s ease;
}
.main-link__anchor:hover {
	color: #144652;
	text-decoration: underline;
	transition: all .6s ease;
}

.how-help__title {
	color: #0786A5;
	padding: 0 0 77px 0;
}
.title {}
.how-help__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 60px 0;
}
.how-help__item {
	position: relative;
	flex: 0 0 48%;
	width: 100%;
}
.how-help__item:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	z-index: 2;
	transition: all .8s ease;
}
.how-help__item:first-child:before {
	background: #0786A5;

}
.how-help__item:last-child:before {
	background: #FFD500;
}
.how-help__item:hover:before {
	transition: all .8s ease;
	opacity: 0.9;
	background: linear-gradient(to bottom, #0786A5, rgba(255, 213, 0, 0.9));;
}
.how-help__item:first-child {
	margin: 0 16px 0 0;
}
.how-help__item:last-child {
	margin: 0 0 0 16px;
}
@media (max-width: 768px) {
	.how-help__body {
		flex-direction: column;
	}
	.how-help__item {
		flex: 1 1 auto;
	}
	.how-help__item:first-child {
		margin: 0 0 24px 0;
	}
	.how-help__item:last-child {
		margin: 0;
	}
}
.how-help__image {
	position: relative;
	padding: 0 0 68% 0;
}
@media (max-width: 768px) {
	.how-help__image {
		padding: 0 0 56% 0;
	}
}
.how-help__image img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.how-help__row {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 30px 32px 38px;
	color: #fff;
	z-index: 3;
}
@media (min-width: 768px) {
	.how-help__item:last-child .how-help__subtitle,
	.how-help__item:last-child .how-help__link{
		align-self: flex-start;
	}
}
.how-help__subtitle {
	max-width: 290px;
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
}
@media (max-width: 400px) {
	.how-help__subtitle {
		max-width: 190px;
		font-size: 28px;
		line-height: 32px;
	}
}
.how-help__link {
	align-self: flex-end;
	color: #fff;
	font-size: 24px;
	line-height: 40px;
	transition: all .6s ease;
}
.how-help__link:hover {
	color: #144652;
	transition: all .6s ease;
}
