.how-help__parag {
  padding: 0 0 30px 0;
}

.how-help__attention {
  font-style: italic;
  font-weight: 700;
}
@media (max-width: 768px) {
  .how-help__attention {
    margin: 0 0 20px 0;
  }
}

.how-help__attention span {
  text-transform: uppercase;
  color: #E32828;
  padding: 0 20px 0 0;
}
.how-help__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px -16px 60px -16px;
}

.how-help__item {
  position: relative;
  flex: 0 1 50%;
  width: 100%;
  padding: 0 16px;
  margin: 0 0 30px 0;
}

@media (max-width: 768px) {
  .how-help__body {
    flex-direction: column;
    margin: 0 0 30px 0;
  }

  .how-help__item {
    flex: 1 1 auto;
    margin: 0 0 20px 0;
    padding: 0;
  }

  .how-help__item:last-child {
    margin: 0;
  }
}

.how-help__image {
  position: relative;
  padding: 0 0 68% 0;
}

.how-help__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
  transition: all .8s ease;
}

.how-help__image:first-child:before {
  background: #0786A5;
}

.how-help__item:hover .how-help__image:before {
  transition: all .8s ease;
  opacity: 0.9;
  background: linear-gradient(to bottom, #0786A5, rgba(255, 213, 0, 0.9));
}

@media (max-width: 768px) {
  .how-help__image {
    padding: 0 0 56% 0;
  }
}

.how-help__text-hidden {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  padding: 0 30px 24px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  z-index: 5;
  display: flex;
  align-items: flex-end;
}

@media (min-width: 768px) and (max-width: 1050px) {
  .how-help__text-hidden {
    padding: 0 28px 12px;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (min-width: 768px){
  .how-help__text-hidden {
    visibility: hidden;
    opacity: 0;
  }

  .how-help__item:hover .how-help__text-hidden {
    visibility: visible;
    opacity: 1;
    transition: all .7s ease;
  }

  .how-help__item:nth-child(odd) .how-help__text-hidden {
  left: -100%;
    transition: left .5s ease;
  }

  .how-help__item:nth-child(odd):hover .how-help__text-hidden {
    left: 0;
  }

  .how-help__item:nth-child(even) .how-help__text-hidden {
    right: -100%;
    transition: right .5s ease;
  }

  .how-help__item:nth-child(even):hover .how-help__text-hidden {
    right: 0;
  }
}

@media (max-width: 768px){
  .how-help__text-hidden {
    visibility: visible;
    opacity: 1;
    left: 0;
        font-size: 18px;
    line-height: 25px;
  }

  .how-help__item:nth-child(even) {
    right: 0;
  }
}

@media (max-width: 650px) {
  .how-help__text-hidden {
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 450px) {
  .how-help__text-hidden {
    font-size: 12px;
    line-height: 14px;
    padding: 0 12px 8px;
  }
}

.how-help__row {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 30px 38px;
  color: #fff;
  z-index: 3;
}

.how-help__subtitle {
  max-width: 350px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

@media (min-width: 768px) and (max-width: 1050px){
  .how-help__item:hover .how-help__row {
    padding: 16px 28px;
  }

  .how-help__item:hover .how-help__subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 650px) {
  .how-help__subtitle {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 450px) {
  .how-help__row {
    padding: 8px 12px 12px;
  }

  .how-help__subtitle {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 350px) {
  .how-help__subtitle {
    font-size: 20px;
    line-height: 24px;
    max-width: 240px;
  }
}

.how-help__link {
  align-self: flex-start;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  transition: all .6s ease;
}

.how-help__link:hover {
  color: #144652;
  transition: all .6s ease;
}
