table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #0786A5;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn-danger {
  margin: 20px 0 0 0;
}

.container__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.managmet__title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  padding: 20px 30px 30px 0;
  color: #0786A5;
}

@media (max-width: 768px) {
  .container__row {
    flex-direction: column;
  }

  .managmet__title {
    font-size: 32px;
    line-height: 40px;
    order: 2;
  }
}

@media (max-width: 450px) {
  .managmet__title {
    font-size: 24px;
    line-height: 30px;
  }
}

.form-group {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
}

.form-group:nth-child(2) {
  margin: 0 0 14px 0;
}

.label-style {
  margin: 0 0 16px 0;
  padding: 0 0 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #0786A5;
}

.btn-tertiary {
  color:#1BBAE1;
  padding:0;
  line-height:40px;
  width:300px;
  display:block;
  border:1px solid #1BBAE1;
}

.btn-tertiary:hover, .btn-tertiary:focus {
  color:#1BBAE1;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.input-file {
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1;
}

.file-name {
  padding: 0 0 0 16px;
}

.label-file {
  font-size: 18px;
  line-height: 25px;
  color: #0786A5;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding: 10px 15px;
  cursor:pointer;
}

.label-file .icon:before {
  content:"\f093";
}

.container-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 0 12px 0;
}

.file-item {
  color:#0786A5;
  padding: 0 0 8px 0;
}

.file-item span {
  font-style: italic;
  color:#144652;
}

.delete-file {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #E32828;
  cursor: pointer;
  position: relative;
}

.delete-file:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 2px;
  background: #fff;
}
