.report__city {
  font-weight: 700;
}

.report__parag {
  margin: 20px 0 40px;
}

@media (max-width: 768px) {
  .report__parag {
    margin: 20px 0 20px;
  }
}

/*Slider BIG img-------------------------*/
.slider-report {
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-report__big {
  position: relative;
  max-height: 550px;
  width: 100%;
}

.swiper-report__small {
  position: relative;
  max-height: 150px;
  width: 70%;
  box-sizing: border-box;
  padding: 10px 0;
}

.slide-report__small {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiper-report__small .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-report-arrows {
  position: absolute;
  bottom: 3%;
  font-size: 20px;
  color: #0786A5;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  /*  width: 15px;
    height: 10px;*/
  z-index: 3;
}

.swiper-arrow__next {
  right: 8px;
}

.swiper-arrow__prev {
  left: 8px;
  transform: rotate(-180deg);
}

/*AROOWS-----------------------------------*/
.report-arrows__body {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .report-arrows__body {
    padding: 70px 0;
  }
}

.text-report__show {
  display: none;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #C4C4C4;
}

.report-arrows__link {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #C4C4C4;
  display: block;
  transition: all .6s ease;
}

@media (max-width: 650px) {
  .arrow-text__hidden {
    display: none;
  }

  .text-report__show {
    display: block;
  }
}

.report-arrows__link:before,
.report-arrows__link:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all .6s ease;
}

.report-arrows__link:before {
  font-family: 'icomoon';
  color: #fff;
  font-weight: 400;
  font-size: 28px;
  left: 0;
  z-index: 3;
}

.report-arrows__link:after {
  content: '';
  width: 40px;
  height: 40px;
  background: #C4C4C4;
}

.report-arrows__link:hover {
  color: #0786A5;
  transition: all .6s ease;
}

.report-arrows__link:hover:after {
  background: #0786A5;
  transition: all .6s ease;
}

.report-arrows__prev a:before {
  left: 6px;
  transform: rotate(-180deg) translateY(50%);
}

.report-arrows__next a:before {
  left: 272px;
}

@media (max-width: 650px) {
  .report-arrows__next a:before {
    left: 15px;
  }
}

.report-arrows__prev a:after {
  left: 0;
}

.report-arrows__next a:after {
  right: 0;
}

.report-arrows__prev a {
  padding: 0 0 0 50px;
}

.report-arrows__next a {
  padding: 0 50px 0 0;
}

.report-baner {
  position: relative;
  width: 100%;
}

.report-baner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/report-item-baner.png) center / cover;
}

.report-baner__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  position: relative;
  z-index: 2;
}

.report-baner__title {
  max-width: 70%;
  font-size: 56px;
  line-height: 76px;
  color: #fff;
  padding: 0 0 32px 0;
}

@media (max-width: 768px) {
  .report-baner__title {
    font-size: 42px;
    line-height: 44px;
  }
}

@media (max-width: 500px) {
  .report-baner__title {
    max-width: 95%;
    font-size: 36px;
    line-height: 36px;
  }
}