/*SLIDER-BUILDING---------------------------------------*/
.slider-main-building {
	margin: 30px 0 0 0;
	width: 100%;
	height: 100%;
	/*max-height: 700px;*/
}
@media (min-width: 1700px) {
	.slider-main-building {
		margin: 150px 0 0 0;
	}
}
@media (min-width: 2000px) {
	.slider-main-building {
		margin: 250px 0 0 0;
	}
}
.slide-building {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 100%;
}
.slide-building__images {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
}
/*@media (max-width: 768px) {
	.slide-building__images {
		max-height: 600px;
	}
}*/
.slide-building__image {
	align-self: center;
}
.slide-building__image:first-child {
	margin: 0 20px 0 0;
}
.slide-building__image img {
	max-width: 100%;
	object-fit: cover;
}
@media (max-width: 768px) {
	.slide-building__images {
		justify-content: center;
	}
}
.slide-building__text {
	flex: 0 0 10%;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #0786A5;
	margin: 36px 0;
}
@media (max-width: 768px) {
	.slide-building__text {
		font-size: 16px;
		line-height: 22px;
		margin: 16px;
	}
}
@media (max-width: 450px) {
	.slide-building__text {
		max-width: 260px;
		text-align: center;
	}
}
.slider-building__arrows {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	bottom: 50px;
	width: 100%;
}
.building-arrow {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
	color: #0786A5;
	display: inline-block;
	position: relative;
}
.building-arrows__prev:before {
	transform: rotate(-180deg);
}
.swiper-button-next.building-arrow.building-arrows__next.icon-arrow-right2{
	right: 25%;
}
.swiper-button-prev.building-arrow.building-arrows__prev.icon-arrow-right2{
	left: 25%;
}
.swiper-button-next:after, .swiper-button-prev:after {
	display: none;
}
@media (max-width: 1100px) {
	.swiper-button-next.building-arrow.building-arrows__next.icon-arrow-right2{
		right: 15%;
	}
	.swiper-button-prev.building-arrow.building-arrows__prev.icon-arrow-right2{
		left: 15%;
	}
}
@media (max-width: 768px) {
	.slider-building__arrows{
		bottom: 25px;
	}
	.swiper-button-next.building-arrow.building-arrows__next.icon-arrow-right2{
		right: 5%;
	}
	.swiper-button-prev.building-arrow.building-arrows__prev.icon-arrow-right2{
		left: 5%;
	}
}
@media (max-width: 450px) {
	.slider-building__arrows{
		bottom: 34px;
	}
	.swiper-button-next.building-arrow.building-arrows__next.icon-arrow-right2{
		right: 5px;
	}
	.swiper-button-prev.building-arrow.building-arrows__prev.icon-arrow-right2{
		left: 5px;
	}
}