.slider-main__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0786A5;
}
.slider-content {
  flex: 0 0 40%;
  align-self: flex-start;
  padding: 45px 0 45px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-main__parag { 
  line-height: 19px;
}
.slider-main__text {
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 768px) {
  .slider-main__body {
    flex-direction: column;
  }
  .slider-content {
    flex: 0 0 auto;
  }
}
.slider-main__parag {
  margin: 16px 0 0 0;
}
.slider-main__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 76px;
  padding: 18px 0 30px;
}
.slider-main__title span {
  color: #FFD500;
}
.slider-main__text {
  margin: 0 0 30px 0;
  line-height: 22px;
  text-indent: 1em;
}
.slider-main__text span {
  font-weight: 700;
}
.slider-main__button {
  align-self: start;
}
@media (max-width: 768px) {
  .slider-content {
    order: 2;
  }
}
@media (max-width: 450px) {
  .slider-content {
    font-size: 14px;
  }
  .slider-main__parag {
    margin: 0;
  }
  .slider-main__title {
    font-size: 56px;
    padding: 8px 0 16px;
  }
  .slider-main__button {
    margin: 0;
  }
}
.slider-main-ukrain {
  flex: 1 1 auto;
  max-width: 800px;
  overflow: visible;
  margin: 0 0 20px 0;
}
@media (max-width: 768px) {
  .slider-main-ukrain {
    width: 100%;
    order: 1;
    margin: 0;
  }
}
.slider-wrapper-ukrain {
  position: relative;
}
.slide-main-ukrain{
  position: relative;
}

.slide-main-ukrain img {
  max-width: 100%;
  object-fit: cover;
}
.swiper-pagination.slider-dots-ukrain.swiper-pagination-bullets {
  bottom: 0;
  left: -50px;
}
span.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #144652;
  opacity: 1;
}
span.swiper-pagination-bullet-active {
  background: #144652;
}
.swiper-button-next:after, .swiper-button-prev:after {
  color: #0786A5;
}
@media (max-width: 600px) {
  span.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    border: 1px solid #144652;
  }
}
