<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:content="#{founder.head.meta.description}"/>

  <title th:text="#{founder.head.title}"></title>

  <link rel="canonical" href="http://www.saveukraine.global/about-founder#about-founder"/>
  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="about-founder">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-founder">
    <div class="about-founder__container container">
      <div class="about-founder__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor" th:text="#{founder.link.main}"></a>
        <p class="main-link__submenu" th:text="#{founder.link.main-info}"></p>
        <p class="main-link__submenu" th:text="#{founder.link.founder}"></p>
      </div>
      <h1 class="about-founder__title title" th:text="#{founder.founder.title}"></h1>
      <div class="about-founder__body">
        <div class="about-founder__row">
          <div class="about-founder__image">
            <img th:src="@{/img/founder.png}" th:alt="#{founder.founder.alt}" loading="lazy">
          </div>
          <div class="about-founder__row-content">
            <h2 class="about-founder__subtitle subtitle" th:text="#{founder.founder.subtitle}"></h2>
            <p class="text-parag" th:text="#{founder.founder.paragraph1}"></p>
          </div>
        </div>
        <div class="about-founder__content">
          <p class="text-parag" th:text="#{founder.founder.paragraph2}"></p>
          <p class="text-parag" th:text="#{founder.founder.paragraph3}"></p>
          <p class="text-parag" th:text="#{founder.founder.paragraph4}"></p>
          <p class="text-parag" th:text="#{founder.founder.paragraph5}"></p>
          <p class="text-parag" th:text="#{founder.founder.paragraph6}"></p>
          <p class="text-parag">
            <span th:text="#{founder.founder.paragraph7}" th:remove="tag"></span>
            <a th:href="@{/reports#reports}" class="about-founder__link" th:text="#{founder.founder.paragraph8}"></a>
            <span th:text="#{founder.founder.paragraph9}" th:remove="tag"></span>
          </p>
          <div class="about-founder__tesis" th:text="#{founder.founder.paragraph10}"></div>
          <p class="text-parag">
            <span th:text="#{founder.founder.paragraph11}" th:remove="tag"></span>
            <a th:href="@{/about-kharkiv#swiper-kharkiv}" class="about-founder__link" th:text="#{founder.founder.paragraph12}"></a>
            <span th:text="#{founder.founder.paragraph13}" th:remove="tag"></span>
          </p>
          <p class="text-parag" th:text="#{founder.founder.paragraph14}"></p>
          <div class="about-founder__tesis">
            <p th:text="#{founder.founder.paragraph15}"></p>
            <p>
              <span th:text="#{founder.founder.paragraph16}" th:remove="tag"></span>
              <span th:text="#{founder.founder.paragraph17}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>