<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>План відбудови Харкова після війни 2022</title>

  <meta name="description" content="Як буде проходити відновлення міста після війни | План відновлення Харкова після війни | Післявоєнна відбудова Харкова | План реконструкції"/>

  <link rel="canonical" href="http://www.saveukraine.global/about-kharkiv#about-kharkiv"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

  <link th:href="@{/css/style.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body>

<div class="wrapper" id="about-founder">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-kharkiv">
    <div class="about-kharkiv__main main-kharkiv">
      <div class="main-link container">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <p class="main-link__submenu"> / Про місто-герой Харків</p>
      </div>
      <div class="main-kharkiv__row row-blue">
        <h1 class="main-kharkiv__title title">Про місто-герой</h1>
      </div>
      <div class="main-kharkiv__row row-yellow">
        <h2 class="main-kharkiv__subtitle title">Харків</h2>
      </div>
    </div>
    <div class="about-kharkiv__container container">
      <p class="text-parag about-kharkiv__parag"><span class="about-kharkiv__span">«Перша столиця»</span> − так іноді неофіційно називають Харків і це не випадково, бо майже 10 років місто Харків було столицею України. Історія міста налічує три з половиною сторіччя, які були сповнені унікальними подіями.</p>
      <p class="text-parag about-kharkiv__parag about-kharkiv__span">Харків – друге за величиною місто України з чисельністю населення приблизно півтора мільйона осіб. </p>
      <p class="text-parag about-kharkiv__parag">Місто є потужним освітньо-науковим центром країни й по праву вважається найулюбленішим містом студентів, адже вміщує 54 вищих навчальних заклади освіти, серед яких один із найстаріших у Східній Європі − Харківський національний університет імені В. Н. Каразіна, що входить до топ-500 університетів світу, а також Національний технічний університет «Харківський політехнічний інститут», що входить до топ-1000 університетів світу, та більше ніж 50 науково-дослідних інститутів.</p>
      <div class="about-kharkiv__image">
        <img th:src="@{/img/about-kharkiv/university.png}" alt="Харківський Національний Університет">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag">Харківський національний університет</p>
      </div>
      <p class="text-parag about-kharkiv__parag"><span class="about-kharkiv__span">Харків – культурна столиця України.</span> Місто має 8 музеїв, міську картинну галерею, філармонію, 7 державних театрів і кілька десятків недержавних, 80 бібліотек. Харківський цирк є одним із найстаріших в Україні та бере свій початок ще з XVIII сторіччя.</p>
      <p class="text-parag about-kharkiv__parag">Також Харків - місто великих і гарних парків. Центральний парк культури та відпочинку ім. Максима Горького є одною із найулюбленіших міських локацій для харків’ян. Це - великий міський парк Харкова, що розташовується на площі понад 130 га. Парк був закладений в 1893—1895 рр. і відкритий у 1907 році. На території парку знаходяться десятки атракціонів, декілька невеликих сцен, кінотеатр «Парк», дитяча залізниця, підвісна канатна дорога, тенісні корти тощо.</p>
      <p class="text-parag about-kharkiv__parag">Також по вихідним харків’яни люблять проводити час у Саді ім. Тараса Шевченка, який прийнято вважати  ботанічною пам'яткою природи у самому серці міста Харкова, сад є один з найстаріших у місті.</p>
      <div class="about-kharkiv__images">
        <div class="about-kharkiv__item">
          <div class="about-kharkiv__image">
            <img th:src="@{/img/about-kharkiv/park-gorkogo01.png}" alt="Парк Горького">
          </div>
          <div class="about-kharkiv__remarc">
            <p class="text-parag">Центральний парк культури та відпочинку</p>
            <p class="text-parag">ім. Максима Горького</p>
          </div>
        </div>
        <div class="about-kharkiv__item">
          <div class="about-kharkiv__image">
            <img th:src="@{/img/about-kharkiv/park-gorkogo02.png}" alt="Парк Горького">
          </div>
          <div class="about-kharkiv__remarc">
            <p class="text-parag">Центральний парк культури та відпочинку</p>
            <p class="text-parag">ім. Максима Горького, вид з колеса</p>
          </div>
        </div>
      </div>
      <div class="about-kharkiv__image">
        <img th:src="@{/img/about-kharkiv/monument-shevchenko01.png}" alt="Пам'ятник Шевченко Т.Г.">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag">Пам'ятник Тарасові Григоровичу Шевченку</p>
        <p class="text-parag">в Саду ім. Тараса Шевченка</p>
      </div>
      <p class="text-parag about-kharkiv__parag">Пам’ятник Тарасові Шевченку є одним із символів міста, визначною міською монументальною пам'яткою. Цей монумент вважається одним з найкращих пам'ятників Тарасові Шевченку у світі. Щоб врятувати пам’ятку від обстрілів, небайдужі харків’яни обставили пам’ятник мішками з піском. Загальна висота монумента — понад 16 м, статуї Тараса Шевченка — 5,5 м. Усього знадобилось 15 000 мішків.</p>
      <div class="about-kharkiv__image" style="text-align: center;">
        <img th:src="@{/img/about-kharkiv/monument-shevchenko02.png}" alt="Пам'ятник Шевченко Т.Г.">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag">Харків’яни рятують від обстрілів</p>
        <p class="text-parag">символ міста - пам'ятник Шевченку</p>
      </div>
      <p class="text-parag about-kharkiv__parag">Впродовж своєї історії Харків має безліч приводів для гордості – від розробки легендарного танку Т-34, роль якого була не з останніх в здобутті перемоги у Другій світовій війні, до створення Харківськими вченими рідкого струменевого скальпелю, який не має аналогів в світі при здійсненні складних операцій та є справжнім проривом в медицині.</p>
      <p class="text-parag about-kharkiv__parag">Харків володіє повним комплектом нагород Ради Європи: Європейським Дипломом, Почесним Прапором, Почесною Відзнакою і Призом Європи.</p>
      <div class="about-kharkiv__yuotube">
        <iframe src="https://www.youtube.com/embed/s0XQ6MNVYSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="text-parag about-kharkiv__parag">Харків – місто-герой України! Указом Президента України від 6 березня 2022 року з метою відзначення подвигу, масового героїзму та стійкості громадян, виявлених у захисті своїх міст під час відсічі збройної агресії Російської Федерації проти України місту присвоєно почесну відзнаку «Місто-герой України».</p>
      <p class="text-parag">Високу ціну свободи та демократії, яку заплатила Харківщина, що виступила захисним щитом не тільки для України, але й всієї Європи, можна подивитись на наступних фото:</p>
      <div class="swiper swiper-kharkiv" id="swiper-kharkiv">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide01.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide02.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide03.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide04.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide06.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide07.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide08.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide09.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide10.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide11.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide12.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide13.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide14.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide15.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide16.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide17.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide18.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide19.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide20.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide21.jpg}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide22.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide23.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide24.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide25.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide26.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide27.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide28.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide29.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide30.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide31.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide32.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide33.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide34.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide35.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide36.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide37.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide38.png}" alt="Харків руйнування" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide39.png}" alt="Харків руйнування" class="image-responsive">
          </div>
        </div>
      </div> <!-- end slider -->
      <a th:href="@{/help#rebuild-kharkiv}" class="text-parag about-kharkiv__link">Допомогти відбудувати місто-герой Харків.</a>
    </div> <!-- end container -->
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>

<script th:src="@{/js/script.js}"></script>

</body>

</html>