<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<div class="wrapper" id="about-founder">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-founder">
    <div class="about-founder__container container">
      <div class="about-founder__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <p class="main-link__submenu"> / Про засновника Фонду</p>
      </div>
      <h1 class="about-founder__title title">Про засновника Фонду</h1>
      <div class="about-founder__body">
        <div class="about-founder__row">
          <div class="about-founder__image">
            <div class="about-founder__flagBG"></div>
            <img th:src="@{/img/founder.png}" alt="Засновник фонду Зберегти Україну">
          </div>
          <div class="about-founder__row-content">
            <p class="text-parag">Считаю необходимым рассказать немного о себе, как основателе международного Благотворительного фонда «Спасти Украину».</p>
            <p class="text-parag">Являюсь гражданином Украины, родился и вырос в городе Харьков.</p>
            <p class="text-parag">На протяжении 15 лет занимал руководящие должности в топовых Европейских страховых компаниях. Принцип наращивания клиентской базы был простой и сложный одновременно, если вам понравилось качество обслуживания порекомендуйте меня вашему другу.</p>
            <p class="text-parag">На данный момент контактов в моей телефонной книге более 5 000, в основном это люди, которые доверяют мне и ценят мои человеческие и деловые качества, это те люди, которые рекомендовали меня своим друзьям и знакомым, так же многие из них стали моими друзьями.</p>
          </div>
        </div>
        <div class="about-founder__content">
          <p class="text-parag">24.02.2022 меня, как и многих в моей стране, разбудили звуки разрывающихся снарядов и воздушной тревоги. До последнего момента, никто не верил, что начнется война с Россией.</p>
          <p class="text-parag">В Украине много не безразличных людей и нация сплотилась и начала действовать! Кто-то пошел на фронт и Только на протяжении месяца войны эмигрировало более 3,5 миллиона женщин и детей, не считая внутренних переселенцев. Общими силами мы объединились в огромное волонтерское движение, где каждый делает, что может и помогает в меру своей физической или материальной возможности. Так в первые две недели моих два лучших друга передали для людей и армии и сопротивления всю продукцию (продукты питания) со своих складов на сумму более 60 000$, причем в их семьях осталось намного меньше денег, чем та сумма, на которую они раздали нуждающимся. Такие поступки ради своего Народа, Страны и Свободы совершают многие наши Граждане.</p>
          <div class="about-founder__tesis">Так же среди Нас, есть те, которые готовы отдать свою жизнь, <span>ради спасения Украины.</span></div>
          <p class="text-parag">На сайте главное фото моих знакомых (гражданских), в авто которых попадал снаряд, но они остались невредимы и поехали дальше развозить помощь, несмотря на постоянные обстрелы!</p>
          <p class="text-parag">На 24.03.2022 более 1000 жилых домов в моём родном городе Харькове разрушены, не считая школ, больниц и другой инфраструктуры города.</p>
          <p class="text-parag">На данный момент поступают, все новые и новые запросы о помощи, которые мы не в силах удовлетворить в силу острой недостачи материально-технической базы и денежных средств на закупку. Так и возникла идея зарегистрировать неприбыльную благотворительную организацию «Міжнародний благодійний фонд «Врятувати Україну»</p>
          <div class="about-founder__tesis">
            <p>Я верю, что свет победит тьму!</p>
            <p>Спасибо, всем не безразличным людям за поддержку!</p>
            <p>Слава Украине! <span>Героям Слава!</span></p>
          </div>
        </div>
      </div>





    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>

<script th:src="@{/js/script.js}"></script>

</body>

</html>