<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:content="#{about-us.head.meta.description}"/>

  <title th:text="#{about-us.head.title}"></title>

  <link rel="canonical" href="http://www.saveukraine.global/about-us#about-us"/>
  <link rel="shortcut icon" href="#" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="about-us">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-us">
    <div class="about-us__container container">
      <div class="about-us__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor" th:text="#{about-us.link.main}"></a>
        <p class="main-link__submenu" th:text="#{about-us.link.main-info}"></p>
        <p class="main-link__submenu" th:text="#{about-us.link.about-fond}"></p>
      </div>
      <h1 class="about-us__title title" th:text="#{about-us.about-us.title}"></h1>
      <div class="about-us__content">
        <p class="about-us__parag text-parag">
          <span th:text="#{about-us.about-us.paragraph1}" th:remove="tag"></span>
          <a th:href="@{/about-kharkiv#swiper-kharkiv}" class="parag-link" th:text="#{about-us.paragraph2}"></a>
        </p>
        <div class="about-us__image about-us__image_big">
          <img th:src="@{/img/about-us_01.png}" th:alt="#{about-us.about-us.alt}" class="image-responsive" loading="lazy">
        </div>
      </div>
      <div class="about-us__purpose purpose">
        <h2 class="subtitle purpose__title" th:text="#{about-us.about-us.purpose.title}"></h2>
        <div class="purpose__container">
          <div class="purpose__content">
            <p class="about-us__item-li" th:text="#{about-us.about-us.purpose.item1}"></p>
            <p class="about-us__item-li" th:text="#{about-us.about-us.purpose.item2}"></p>
            <p class="about-us__item-li" th:text="#{about-us.about-us.purpose.item3}"></p>
            <p class="about-us__item-li" th:text="#{about-us.about-us.purpose.item4}"></p>
            <p class="about-us__item-li" th:text="#{about-us.about-us.purpose.item5}"></p>
          </div>
          <div class="purpose__image">
            <img th:src="@{/img/about-ua-vertical_03.png}" th:alt="#{about-us.about-us.purpose.alt}" class="image-responsive" loading="lazy">
          </div>
        </div>
      </div>
      <div class="about-us__tasks tasks">
        <h2 class="about-us__subtitle subtitle" th:text="#{about-us.about-us.tasks.title}"></h2>
        <div class="tasks__content">
          <p class="tasks__parag text-parag" th:text="#{about-us.about-us.tasks.paragraph}"></p>
          <ul class="tasks__list">
            <li class="about-us__item-li" th:text="#{about-us.about-us.tasks.item1}"></li>
            <li class="about-us__item-li" th:text="#{about-us.about-us.tasks.item2}"></li>
            <li class="about-us__item-li" th:text="#{about-us.about-us.tasks.item3}"></li>
            <li class="about-us__item-li" th:text="#{about-us.about-us.tasks.item4}"></li>
          </ul>
        </div>
      </div>
      <div class="about-us__responsibilities responsibilities">
        <div class="responsibilities__container">
          <div class="responsibilities__image">
            <img th:src="@{/img/about-us_04.png}" th:alt="#{about-us.about-us.responsibilities.alt}" class="image-responsive" loading="lazy">
          </div>
          <div class="responsibilities__content">
            <h2 class="subtitle responsibilities__title" th:text="#{about-us.about-us.responsibilities.title}"></h2>
            <ul class="responsibilities__list">
              <li class="about-us__item-li" th:text="#{about-us.about-us.responsibilities.item1}"></li>
              <li class="about-us__item-li" th:text="#{about-us.about-us.responsibilities.item2}"></li>
              <li class="about-us__item-li" th:text="#{about-us.about-us.responsibilities.item3}"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="about-us__documents statutory-documents">
        <h3 class="subtitle statutory-documents__title" id="statutory-documents" th:text="#{about-us.about-us.documents.title}"></h3>
        <div class="statutory-documents__slider" id="documents-slider">
            <div class="swiper-wrapper statutory-documents__container">
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_01.png}" th:alt="#{about-us.about-us.documents.alt1}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">1</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_02.png}" th:alt="#{about-us.about-us.documents.alt1}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">2</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_03.png}" th:alt="#{about-us.about-us.documents.alt1}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">3</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_01.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">4</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_03.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">5</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_04.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">6</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_05.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">7</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_06.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">8</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_07.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">9</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_08.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">10</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_09.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">11</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_10.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">12</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_11.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">13</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_12.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">14</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_13.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">15</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_14.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">16</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_15.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">17</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_16.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">18</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_17.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">19</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_18.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">20</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_19.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">21</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_20.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">22</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_21.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">23</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_22.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">24</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_23.png}" th:alt="#{about-us.about-us.documents.alt2}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">25</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/excerption_01.png}" th:alt="#{about-us.about-us.documents.alt3}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">26</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/excerption_02.png}" th:alt="#{about-us.about-us.documents.alt3}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">27</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/multi-account.png}" th:alt="#{about-us.about-us.documents.alt4}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">28</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/dollar-account.png}" th:alt="#{about-us.about-us.documents.alt5}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">29</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/euro-account.png}" th:alt="#{about-us.about-us.documents.alt6}" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">30</p>
                </div>
              </div>
            </div>
          </div> <!-- end slider -->
        <div class="statutory-documents__parag text-parag">
          <span th:text="#{about-us.about-us.documents.paragraph1}" th:remove="tag"></span>
          <a th:href="@{/help/become-volunteer#become-volunteer}" class="parag-link" th:text="#{about-us.about-us.documents.paragraph2}"></a>
          <span th:text="#{about-us.about-us.documents.paragraph3}" th:remove="tag"></span>
          <a th:href="@{/help/donation#donation-now}" class="parag-link" th:text="#{about-us.about-us.documents.paragraph4}"></a>.
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>