<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

  <link th:href="@{/css/style.css}" rel="stylesheet">

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="about-us">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-us">
    <div class="about-us__container container">
      <div class="about-us__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <p class="main-link__submenu"> / Oсновна інформація</p>
        <p class="main-link__submenu"> / Про Фонд</p>
      </div>
      <h1 class="about-us__title title">Про Фонд</h1>
      <div class="about-us__content">
        <p class="about-us__parag text-parag">Міжнародний Благодійний Фонд “Врятувати Україну” - це новий Благодійний
          фонд. </p>
        <p class="about-us__slogan">Ми - неприбуткова організація, наша мета - допомогти врятувати Україну та
          українських людей, у тому числі протидіяти гуманітарній катастрофі, яка може виникнути в українських містах та
          селах через військову агресію з боку Росії! </p>
        <div class="about-us__image about-us__image_big">
          <img th:src="@{/img/about-us_01.png}" alt="Харків руйнування" class="image-responsive" loading="lazy">
        </div>
        <p class="about-us__parag text-parag">Фонд створений на бажанні допомогти тим, хто найбільш потребує допомоги
          під час війни і хто буде потребувати допомоги після її завершення, а також для відновлення, усунення наслідків
          страшних руйнувань інфраструктури <a href="#!" class="parag-link">міста-героя Харкова</a>. Зокрема для тих
          постраждалих від війни людей, хто не зможе фінансово дозволити собі це зробити.</p>
        <div class="about-us__image about-us__image_midle">
          <img th:src="@{/img/about-us_02.png}" alt="Волонтери. Допомога" class="image-responsive" loading="lazy">
        </div>
        <p class="about-us__parag text-parag">
          Наш фонд був створений у 2022 році та наразі об'єднує чимало людей, що готові допомагати Україні чим можуть.
        </p>
      </div>
      <div class="about-us__purpose purpose">
        <h2 class="subtitle purpose__title">Мета Фонду</h2>
        <div class="purpose__container">
          <div class="purpose__content">
            <p class="about-us__item-li">
              • допомога постраждалим внаслідок збройних конфліктів, а також біженцям та особам, які перебувають у
              складних життєвих обставинах;
            </p>
            <p class="about-us__item-li">
              • сприяння гуманітарним акціям, направленим на рятування населення України від військової агресії
              Російської Федерації;
            </p>
            <p class="about-us__item-li">
              • впровадження та всебічна підтримка реалізації програм гуманітарної допомоги біженцям та внутрішньо
              переміщеним особам в Україні та за кордоном;
            </p>
            <p class="about-us__item-li">
              • поширення доступу до українських інформаційних ресурсів за кордоном;
            </p>
            <p class="about-us__item-li">
              • цільова допомога постраждалим від російської агресії в Україні;
            </p>
            <p class="about-us__item-li">
              • об’єднання добровільних зусиль, майнових і фінансових внесків, пожертвувань і інших ресурсів і
              можливостей для здійснення благодійної діяльності в інтересах суспільства, а також надання допомоги тим,
              хто її потребує;
            </p>
            <p class="about-us__item-li">• опіка і піклування, законне представництво та правова допомога;</p>
            <p class="about-us__item-li">
              • соціальний захист, соціальне забезпечення, соціальні послуги і подолання бідності;
            </p>
            <p class="about-us__item-li">
              • сприяння здійсненню державних, регіональних, місцевих та міжнародних програм, спрямованих на поліпшення
              соціально-економічного становища в Україні.
            </p>
          </div>
          <div class="purpose__image">
            <img th:src="@{/img/about-ua-vertical_03.png}" alt="Гуманітарна допомога" class="image-responsive" loading="lazy">
          </div>
        </div>
      </div>
      <div class="about-us__tasks tasks">
        <h2 class="about-us__subtitle subtitle">Завдання Фонду</h2>
        <div class="tasks__content">
          <p class="tasks__parag text-parag">
            Для здійснення статутної мети Фонд у встановленому законом порядку вирішує
            наступні задачі та виконує такі завдання:
          </p>
          <ul class="tasks__list">
            <li class="about-us__item-li">
              • залучає кошти від благодійників – фізичних осіб (резидентів та нерезидентів), юридичних осіб, інших
              благодійних організацій, у тому числі міжнародних;
            </li>
            <li class="about-us__item-li">
              • організовує управління зібраними коштами (благодійними ендавментами) з метою збереження та збільшення
              обсягу коштів, що використовуються для надання допомоги;
            </li>
            <li class="about-us__item-li">
              • надає допомогу, розробляє та реалізує програми, що спрямовані на реалізацію цілей Фонду;
            </li>
            <li class="about-us__item-li">
              • інші завдання, спрямовані на реалізацію мети Фонду.
            </li>
          </ul>
        </div>
      </div>
      <div class="about-us__responsibilities responsibilities">
        <div class="responsibilities__container">
          <div class="responsibilities__image">
            <img th:src="@{/img/about-us_04.png}" alt="Волонтері. Допомога" class="image-responsive" loading="lazy">
          </div>
          <div class="responsibilities__content">
            <h2 class="subtitle responsibilities__title">Наші обов’язки</h2>
            <p class="responsibilities__parag text-parag">Ми зобов’язуємось:</p>
            <ul class="responsibilities__list">
              <li class="about-us__item-li">• дотримуватися всіх вимог чинного законодавства;</li>
              <li class="about-us__item-li">• забезпечити відповідність своєї діяльності зазначеним статутним завданням
                та цілям;
              </li>
              <li class="about-us__item-li">• надавати органам державної влади і місцевого самоврядування, а також
                широкому колу суспільства вільний доступ до проектів, що було реалізовано, інших документів, що
                характеризують діяльність Фонду.
              </li>
            </ul>   <!-- th:src="@{/img -->
          </div>
        </div>
      </div>
      <div class="about-us__documents statutory-documents">
        <h3 class="subtitle statutory-documents__title" id="statutory-documents">Уставні документи</h3>
        <div class="statutory-documents__slider" id="documents-slider">
            <div class="swiper-wrapper statutory-documents__container">
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_01.png}" alt="Публічна оферта" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">1</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_02.png}" alt="Публічна оферта" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">2</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/public-oferta_03.png}" alt="Публічна оферта" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">3</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_01.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">4</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_03.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">5</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_04.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">6</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_05.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">7</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_06.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">8</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_07.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">9</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_08.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">10</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_09.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">11</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_10.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">12</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_11.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">13</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_12.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">14</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_13.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">15</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_14.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">16</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_15.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">17</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_16.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">18</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_17.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">19</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_18.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">20</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_19.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">21</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_20.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">22</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_21.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">23</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_22.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">24</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/statute-сharter_23.png}" alt="Статут" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">25</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/excerption_01.png}" alt="Витяг" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">26</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/excerption_02.png}" alt="Витяг" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">27</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/multi-account.png}" alt="Мультирахунок" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">28</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/dollar-account.png}" alt="доларовий рахунок" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">29</p>
                </div>
              </div>
              <div class="swiper-slide statutory-documents__image">
                <div class="swiper-zoom-container statutory-documents__bound">
                  <img th:src="@{/img/documents-fond/euro-account.png}" alt="рахунок у евро" class="image-responsive" loading="lazy">
                  <p class="statutory-documents__num">30</p>
                </div>
              </div>
            </div>
          </div> <!-- end slider -->
        <div class="statutory-documents__parag text-parag">На цьому сайті Ви можете <a
          th:href="@{/help/become-volunteer#become-volunteer}" class="parag-link">стати частиною команди волонтерів</a>
          або допомогти Україні іншим шляхом, перерахувавши посильну суму у якості <a
            th:href="@{/help/donation#donation-now}" class="parag-link">пожертвування</a>.
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>