<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:content="#{kharkiv.head.mete.description}"/>

  <title th:text="#{kharkiv.head.title}"></title>

  <link rel="canonical" href="http://www.saveukraine.global/about-kharkiv#about-kharkiv"/>
  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body>

<div class="wrapper" id="about-founder">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="about-kharkiv">
    <div class="about-kharkiv__main main-kharkiv">
      <div class="main-link container">
        <a th:href="@{/index#main-page}" class="main-link__anchor" th:text="#{kharkiv.link.main}"></a>
        <p class="main-link__submenu" th:text="#{kharkiv.link.kharkiv}"></p>
      </div>
      <div class="main-kharkiv__row row-blue">
        <h1 class="main-kharkiv__title title" th:text="#{kharkiv.kharkiv.title1}"></h1>
      </div>
      <div class="main-kharkiv__row row-yellow">
        <h2 class="main-kharkiv__subtitle title" th:text="#{kharkiv.kharkiv.title2}"></h2>
      </div>
    </div>
    <div class="about-kharkiv__container container">
      <p class="text-parag about-kharkiv__parag">
        <span class="about-kharkiv__span" th:text="#{kharkiv.kharkiv.paragraph1}"></span>
        <span th:text="#{kharkiv.kharkiv.paragraph2}" th:remove="tag"></span>
      </p>
      <p class="text-parag about-kharkiv__parag about-kharkiv__span" th:text="#{kharkiv.kharkiv.paragraph3}"></p>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.paragraph4}"></p>
      <div class="about-kharkiv__image">
        <img th:src="@{/img/about-kharkiv/university.png}" th:alt="#{kharkiv.kharkiv.alt}">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag" th:text="#{kharkiv.kharkiv.university}"></p>
      </div>
      <p class="text-parag about-kharkiv__parag">
        <span class="about-kharkiv__span" th:text="#{kharkiv.kharkiv.university.paragraph1}"></span>
        <span th:text="#{kharkiv.kharkiv.university.paragraph2}" th:remove="tag"></span>
      </p>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.university.paragraph3}"></p>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.university.paragraph4}"></p>
      <div class="about-kharkiv__images">
        <div class="about-kharkiv__item">
          <div class="about-kharkiv__image">
            <img th:src="@{/img/about-kharkiv/park-gorkogo01.png}" th:alt="#{kharkiv.kharkiv.alt1}">
          </div>
          <div class="about-kharkiv__remarc">
            <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph5}"></p>
            <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph6}"></p>
          </div>
        </div>
        <div class="about-kharkiv__item">
          <div class="about-kharkiv__image">
            <img th:src="@{/img/about-kharkiv/park-gorkogo02.png}" th:alt="#{kharkiv.kharkiv.alt1}">
          </div>
          <div class="about-kharkiv__remarc">
            <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph7}"></p>
            <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph8}"></p>
          </div>
        </div>
      </div>
      <div class="about-kharkiv__image">
        <img th:src="@{/img/about-kharkiv/monument-shevchenko01.png}" th:alt="#{kharkiv.kharkiv.alt2}">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph9}"></p>
        <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph10}"></p>
      </div>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.paragraph11}"></p>
      <div class="about-kharkiv__image" style="text-align: center;">
        <img th:src="@{/img/about-kharkiv/monument-shevchenko02.png}" th:alt="#{kharkiv.kharkiv.alt2}">
      </div>
      <div class="about-kharkiv__remarc">
        <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph12}"></p>
        <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph13}"></p>
      </div>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.paragraph14}"></p>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.paragraph15}"></p>
      <div class="about-kharkiv__yuotube">
        <iframe src="https://www.youtube.com/embed/s0XQ6MNVYSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="text-parag about-kharkiv__parag" th:text="#{kharkiv.kharkiv.paragraph16}"></p>
      <p class="text-parag" th:text="#{kharkiv.kharkiv.paragraph17}"></p>
      <div class="swiper swiper-kharkiv" id="swiper-kharkiv">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide01.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide02.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide03.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide04.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide06.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide07.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide08.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide09.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide10.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide11.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide12.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide13.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide14.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide15.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide16.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide17.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide18.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide19.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide20.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide21.jpg}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide22.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide23.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide24.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide25.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide26.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide27.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide28.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide29.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide30.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide31.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide32.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide33.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide34.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide35.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide36.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide37.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide38.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
          <div class="swiper-slide">
            <img th:src="@{/img/about-kharkiv/slider-kharkiv/kharkiv-slide39.png}" th:alt="#{kharkiv.kharkiv.slider.alt}" class="image-responsive">
          </div>
        </div>
      </div> <!-- end slider -->
      <a th:href="@{/help#rebuild-kharkiv}" class="text-parag about-kharkiv__link" th:text="#{kharkiv.kharkiv.paragraph18}"></a>
    </div> <!-- end container -->
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>