<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БФ «Врятувати Україну»</title>

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<div class="wrapper" id="become-volunteer">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="become-volunteer">
    <div class="become-volunteer__container container">
      <div class="become-volunteer__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <a th:href="@{/help#how-can-help}" class="main-link__subanchor">/ Як я можу допомогти?</a>
        <p class="main-link__submenu"> / Стати волонтером</p>
      </div>
      <h2 class="how-help__title title">Як стати волонтером?</h2>
      <div class="become-volunteer__content volunteer-content">
        <p class="volunteer-content__text text-parag">
          Наша мрія - жити у мирній, щасливій країні. А країна - це, перш за
          все, люди. Тільки об’єднавшись, допомагаючи один одному ми зможемо приблизити день, коли небо над Україною
          знову буде тихим і мирним.
        </p>
        <p class="volunteer-content__text text-parag">
          Волонтери — це надзвичайні люди. Люди, які за власним бажанням
          інвестують свій час, ресурси та вміння у втілення соціально значимих проєктів: гуманітарна допомога, допомога
          військовим, силам ТрО, допомога у відбудові міст, що постраждали від війни.
        </p>
        <h3 class="subtitle">Завдання волонтера:</h3>
        <ul class="volunteer-content__list">
          <li class="volunteer-content__item">- збір інформації про тих, хто потребує допомоги;</li>
          <li class="volunteer-content__item">- складання списку необхідного;</li>
          <li class="volunteer-content__item">- організація доставки;</li>
          <li class="volunteer-content__item">- надання фото-звіту про виконану роботу.</li>
        </ul>
        <p class="volunteer-content__text text-parag">
          Долучитись до лав волонтерів можуть усі бажаючі. Щоб стати
          частиною волонтерського штабу БФ «Врятувати Україну», заповніть коротку анкету нижче і ми зв’яжемось з Вами
          найближчим часом.
        </p>
      </div>
      <div class="become-volunteer__form volunteer-form">
        <div class="volunteer-form__image">
          <img th:src="@{/img/become-volunteer.png}" alt="aid" class="image-responsive">
        </div>
        <div class="volunteer-form__body">
          <h3 class="subtitle">Анкета для волонтерів</h3>
          <form action="#" class="volunteer-form__form form-volunteer">
            <div class="form-volunteer__item">
              <div class="form-volunteer__title">Ваші ПІБ</div>
              <input type="text" class="input-text__custom form-volunteer__input field-input" id="input-name">
              <p class="input-text__error"></p>
            </div>
            <div class="form-volunteer__item">
              <div class="form-volunteer__title">Ваша стать</div>
              <div class="input-radio">
                <div class="input-radio__item">
                  <input type="radio" name="currency" value="жін" class="input-radio__default" id="woman">
                  <label for="woman" class="input-radio__custom">жін</label>
                </div>
                <div class="input-radio__item">
                  <input type="radio" name="currency" value="чол" class="input-radio__default" id="man">
                  <label for="man" class="input-radio__custom">чол</label>
                </div>
              </div>
            </div>
            <div class="form-volunteer__item">
              <div class="form-volunteer__title">Місто</div>
              <input type="text" class="input-text__custom form-volunteer__input field-input" id="input-city" disabled>
              <p class="input-text__error"></p>
            </div>
            <div class="form-volunteer__item">
              <div class="form-volunteer__title">Телефон для зв’язку</div>
              <input type="tel" class="input-text__custom form-volunteer__input field-input" placeholder="(0XX)XXX XX XX" id="input-tel" disabled>
              <p class="input-text__error"></p>
            </div>
            <input type="submit" class="form__btn _btn" id="volunter-btn" Value="Стати волонтером" disabled>
          </form>
          <div class="volunteer-form__sending sending-form">
            <div class="sending-form__content">
              <p class="sending-form__text">Дякуємо! Ваша анкета прийнята.</p>
              <p class="sending-form__text">Незабаром ми зв’яжемось з Вами.</p>
            </div>
            <a href="#!" class="sending-form__link">Заповнити анкету ще раз</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>