<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

  <link th:href="@{/css/style.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="contacts">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="contacts">
    <div class="contacts__container container">
      <div class="main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <p class="main-link__submenu"> / Контакти</p>
      </div>
      <h1 class="contacts__title title">Контакти</h1>
      <div class="contacts__body">
        <div class="contacts__elem">
          <h2 class="contacts__subtitle">Телефон</h2>
          <div class="contacts__item icon-phone">
            <a href="tel:+380502845065">+380 50 284 50 65</a>
          </div>
          <h2 class="contacts__subtitle">E-mail</h2>
          <div class="contacts__item icon-envelop">
            <a href="mailto:safeukrfund@gmail.com">safeukrfund@gmail.com</a>
          </div>
        </div>
        <div class="contacts__elem">
          <h2 class="contacts__subtitle">Мессенджери</h2>
          <div class="messengers__items">
            <div class="messengers__item contacts__item">
              <a title="Viber" href="viber://chat?number=380502845065">+380 50 284 50 65</a>
            </div>
            <div class="messengers__item contacts__item">
              <a title="Telegram" href="https://telegram.me/SaveUA_2022" target="_blank">+380 50 284 50 65</a>
            </div>
            <div class="messengers__item contacts__item">
              <a title="Whatsapp" href="whatsapp://send?phone=380502845065">+380 50 284 50 65</a>
            </div>
          </div>
        </div>
        <div class="contacts__elem">
          <h2 class="contacts__subtitle">Соціальні мережі</h2>
          <div class="social-media__items">
            <div class="social-media__item">
              <a th:href="@{https://www.instagram.com/save_ukraine_fund/?igshid=YmMyMTA2M2Y=}" class="icon-instagram" target="blank"></a>
            </div>
            <div class="social-media__item">
              <a th:href="@{https://www.facebook.com/people/%D0%90%D0%BD%D1%82%D0%BE%D0%BD-%D0%A1%D0%B8%D0%B2%D0%B5%D1%80%D1%81/100080429317587/}" class="icon-facebook" target="blank"></a>
            </div>
            <div class="social-media__item">
              <a href="#!" class="icon-twitter" target="blank"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__adress">
        <h2 class="contacts__subtitle">Адреса</h2>
        <div class="contacts__icon icon-location2">
          <p>Україна, 21030, Вінницька область, м.Вінниця, вул.Келецька, 103 офіс 4</p>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdTKUylm9sFCaX_GKWs1ocY6W63Pb6eWo&callback=initMap"></script>

</body>

</html>
