<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

<div class="wrapper" id="donation">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="donation">
    <div class="donation__container container">
      <div class="donation__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <a th:href="@{/help#how-can-help}" class="main-link__subanchor">/ Як я можу допомогти?</a>
        <p class="main-link__submenu"> / Пожертвування</p>
      </div>
      <h1 class="donation__title title">Як зробити пожертвування?</h1>
      <div class="donation__text text-parag">Благодійний Фонд «Врятувати Україну» – незалежна благодійна організація,
        яка перебуває на повному самозабезпеченні. У нас немає спонсорів та меценатів, які б щомісячно оплачували роботу
        наших співробітників, оренду складу, комунальні послуги, бензин та обслуговування авто, виготовлення скарбничок
        та інші потреби. Тож 13-15% кожного внеску йде на підтримку роботи фонду. Детальніше про нашу роботу тут.
      </div>
      <div class="donation__image">
        <img class="image-responsive" th:src="@{/img/donation.png}" alt="Україна">
      </div>
      <h2 class="donation__subtitle subtitle" id="donation-now">Підтримай Україну</h2>
      <div class="donation__tabs tabs-donation">
        <ul class="tabs-donation__navigation nav-tabs">
          <li class="nav-tabs__item tabs-active" data-tab_id="page1">Оплатити карткою або інші засоби оплати</li>
          <li class="nav-tabs__item" data-tab_id="page2">Оплатити за реквізитами</li>
          <li class="nav-tabs__item" data-tab_id="page3">Оплатити Pay Pal</li>
        </ul>
        <ul class="tabs-donation__pages">
          <li class="tabs-donation__page tabs-active" id="page1">
            <h3 class="tabs-donation__title">Зробити пожертвування</h3>
            <div class="tabs-donation__paysystems pay-systems">
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/visa-mastercard.png}" alt="visa mastercard"> <!-- class="image-responsive" -->
              </div>
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/privat24.jpg}" alt="privat24">
              </div>
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/Masterpass-logo.jpg}" alt="masterpass">
              </div>
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/visa-checkout.jpg}" alt="visa checkout">
              </div>
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/apple-pay.png}" alt="apple pay">
              </div>
              <div class="pay-systems__item">
                <img th:src="@{/img/donate-systems/google-pay.jpg}" alt="google pay">
              </div>
            </div>
            <div class="tabs-donate__row">
              <div class="tabs-donation__qr">
                <img th:src="@{https://wayforpay.com/qr/img?token=bbc7c9cd98eab&type=b&size=160}" alt="QR-код">
              </div>
              <div class="tabs-donation__btn">
                <button type="button" class="form__btn _btn" onclick="runWfpWdgt('https://secure.wayforpay.com/button/bbc7c9cd98eab')" onmouseover="this.style.opacity='0.8';" onmouseout="this.style.opacity='1';">ДОПОМОГТИ</button>
                <p>* обов'язково заповныть поле "Коментарі"</p>
              </div>
            </div>
          </li>
          <li class="tabs-donation__page" id="page2">
            <h3 class="tabs-donation__title">Наші реквізити</h3>
              <div class="tabs-donation__requisites">
                <p>Підприємство: БЛАГОДІЙНА ОРГАНІЗАЦІЯ «МІЖНАРОДНИЙ БЛАГОДІЙНИЙ ФОНД «ВРЯТУВАТИ УКРАЇНУ»</p>
                <p>ЄДРПОУ 44668535</p>
                <p>Р/р, UA083020760000026008300940237</p>
                <p>МФО 302076</p>
              </div>
          </li>
          <li class="tabs-donation__page" id="page3">
            <h3 class="tabs-donation__title">Рахунок Pay Pal</h3>
            <div class="tabs-donation__paypal">
              <div class="paypal__image">
                <img th:src="@{/img/donate-systems//pay-pal.png}" alt="Pay Pal">
              </div>
              <p class="paypal__number">GMBWRTLVFLYCL</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

  <a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
  <script th:src="@{/js/script.js}"></script>
  <script type="text/javascript" id="widget-wfp-script" src="https://secure.wayforpay.com/server/pay-widget.js?ref=button"></script>
  <script type="text/javascript">function runWfpWdgt(url){var wayforpay=new Wayforpay();wayforpay.invoice(url);}</script>

</div>

</body>

</html>