<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

  <link th:href="@{/css/style.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="donation">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="donation">
    <div class="donation__container container">
      <div class="donation__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <a th:href="@{/help#how-can-help}" class="main-link__subanchor">/ Наші Проєкти</a>
        <p class="main-link__submenu"> / Пожертвування</p>
      </div>
      <h1 class="donation__title title">Як зробити пожертвування?</h1>
      <div class="donation__text text-parag">Благодійний Фонд «Врятувати Україну» – незалежна благодійна організація,
        яка перебуває на повному самозабезпеченні. У нас немає спонсорів та меценатів, які б щомісячно оплачували роботу
        наших співробітників, оренду складу, комунальні послуги, бензин та обслуговування авто, виготовлення скарбничок
        та інші потреби. Тож 13-15% кожного внеску йде на підтримку роботи фонду. Детальніше про нашу роботу тут.
      </div>
      <div class="donation__image">
        <img class="image-responsive" th:src="@{/img/donation.png}" alt="Україна">
      </div>
      <h2 class="donation__subtitle subtitle" id="donation-now">Підтримай Україну</h2>
      <div class="donation__tabs tabs-donation">
        <ul class="tabs-donation__navigation nav-tabs">
          <li class="nav-tabs__item tabs-active" data-tab_id="page1">Оплатити карткою</li>
          <li class="nav-tabs__item" data-tab_id="page2">Оплатити за реквізитами</li>
          <li class="nav-tabs__item" data-tab_id="page3">Оплатити Pay Pal</li>
        </ul>
        <ul class="tabs-donation__pages">
          <li class="tabs-donation__page tabs-active" id="page1">
            <div class="tabs-donation__card card-donate">
              <div class="card-donate__qrs">
                <div class="card-donate__qr qr-active" id="aid-all">
                  <img th:src="@{/img/qr-code/qr-all.png}" alt="QR-код">
                </div>
                <div class="card-donate__qr" id="aid-children">
                  <img th:src="@{/img/qr-code/qr-children.png}" alt="QR-код">
                </div>
                <div class="card-donate__qr" id="aid-animals">
                  <img th:src="@{/img/qr-code/qr-animals.png}" alt="QR-код">
                </div>
                <div class="card-donate__qr" id="aid-kharkiv">
                  <img th:src="@{/img/qr-code/qr-kharkiv.png}" alt="QR-код">
                </div>
                <div class="card-donate__qr" id="aid-aged">
                  <img th:src="@{/img/qr-code/qr-aged.png}" alt="QR-код">
                </div>
              </div>
              <div class="card-donate__content">
                <h3 class="tabs-donation__title">Зробити пожертвування:</h3>
                <form action="#" th:action="@{/help/donation/redirect}" method="get">
                  <select class="js-example-basic-single card-donate__select" name="state">
                    <option value="aid all" data-option_id="aid-all" class="card-donate__option" th:selected="${selectedProject eq 'all'}">Допомогти всім</option>
                    <option value="aid children" data-option_id="aid-children" class="card-donate__option" th:selected="${selectedProject eq 'children'}">Допомогти дітям</option>
                    <option value="aid animals" data-option_id="aid-animals" class="card-donate__option" th:selected="${selectedProject eq 'animals'}">Допомогти тваринам</option>
                    <option value="aid kharkiv" data-option_id="aid-kharkiv" class="card-donate__option" th:selected="${selectedProject eq 'kharkiv'}">Відновлення города-героя Харкова</option>
                    <option value="aid aged" data-option_id="aid-aged" class="card-donate__option" th:selected="${selectedProject eq 'aged'}">Допомога дорослим та людям похилого віку</option>
                  </select>
                </form>
                <div class="card-donate__row">
                  <button type="button" class="card-donate__btn _btn">Пожертвувати</button>
                  <div class="card-donate__paysystems pay-systems">
                    <div class="pay-systems__item">
                      <img th:src="@{/img/donate-systems/visa.png}" alt="visa">
                    </div>
                    <div class="pay-systems__item">
                      <img th:src="@{/img/donate-systems/mastercard.png}" alt="mastercard">
                    </div>
                    <div class="pay-systems__item">
                      <img th:src="@{/img/donate-systems/privat24.png}" alt="privat24">
                    </div>
                  </div>
                </div>
                <p>* обов'язково заповныть поле "Коментарі"</p>
              </div>
            </div>
          </li>
          <li class="tabs-donation__page" id="page2">
            <h3 class="tabs-donation__title" id="requisites">Наші реквізити</h3>
              <div class="tabs-donation__requisites">
                <p>Підприємство: БЛАГОДІЙНА ОРГАНІЗАЦІЯ «МІЖНАРОДНИЙ БЛАГОДІЙНИЙ ФОНД «ВРЯТУВАТИ УКРАЇНУ»</p>
                <p>ЄДРПОУ 44668535</p>
                <p>Р/р, UA083020760000026008300940237</p>
                <p>МФО 302076</p>
              </div>
          </li>
          <li class="tabs-donation__page" id="page3">
            <h3 class="tabs-donation__title">Рахунок Pay Pal</h3>
            <div class="tabs-donation__paypal">
              <div class="paypal__image">
                <img th:src="@{/img/donate-systems/pay-pal.png}" alt="Pay Pal">
              </div>
              <div class="paypal__row">
                  <p class="paypal__number" id="paypal-number">GMBWRTLVFLYCL</p>
                  <p class="copy-text" onclick="copyText('paypal-number')">Скопіювати</p>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

  <a class="icon-arrow-right2" href="#" id="scrollToTop"></a>

</div>

  <script>
    $(document).ready(function() {
      $('.js-example-basic-single').select2();
    });

    //Change QR-code
    const showQrcode = (id) => {
      const listQrcode = document.querySelectorAll('.card-donate__qr')

      for (let item of listQrcode) {
        item.classList.remove('qr-active')
      }
      document.getElementById(`${id}`).classList.add('qr-active')
    }

    const options = document.querySelectorAll('.card-donate__option')

    Object.assign(document.querySelector('.card-donate__select'), {
      onchange: event => {
        for (let option of options) {
          option.selected && showQrcode(option.dataset.option_id)
        }
      }
    })
  </script>

</body>

</html>