<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:content="#{help.head.meta.description}"/>

  <title th:text="#{help.head.title}"></title>

  <link rel="canonical" href="http://www.saveukraine.global/help#how-can-help"/>
  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="how-can-help">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="how-help">
    <div class="how-help__container container">
      <div class="how-help__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor" th:text="#{help.link.main}"></a>
        <p class="main-link__submenu" th:text="#{help.link.projects}"></p>
      </div>
      <h1 class="how-help__title title" th:text="#{help.projects.title}"></h1>
      <p class="how-help__parag text-parag" th:text="#{help.projects.paragraph1}"></p>
      <p class="how-help__parag text-parag" th:text="#{help.projects.paragraph2}"></p>
      <p class="how-help__parag text-parag" th:text="#{help.projects.paragraph3}"></p>
      <div class="how-help__attention text-parag">
        <span th:text="#{help.projects.paragraph4}"></span>
        <span th:text="#{help.projects.paragraph5}" th:remove="tag"></span>
      </div>
      <div class="how-help__body">
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_01.png}" th:alt="#{help.projects.project1.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" id="rebuild-kharkiv" th:text="#{help.projects.project1.title}"></h2>
            <a th:href="@{/help/donation?project=children#donation-now}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project1.description}"></p>
        </div> <!-- end item -->
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_02.png}" th:alt="#{help.projects.project2.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" th:text="#{help.projects.project2.title}"></h2>
            <a th:href="@{/help/donation?project=animals#donation-now}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project2.description}"></p>
        </div> <!-- end item -->
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_03.png}" th:alt="#{help.projects.project3.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" th:text="#{help.projects.project3.title}"></h2>
            <a th:href="@{/help/donation?project=kharkiv#donation-now}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project3.description}"></p>
        </div> <!-- end item -->
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_04.png}" th:alt="#{help.projects.project4.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" th:text="#{help.projects.project4.title}"></h2>
            <a th:href="@{/help/donation?project=aged#donation-now}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project4.description}"></p>
        </div> <!-- end item -->
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_05.png}" th:alt="#{help.projects.project5.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" th:text="#{help.projects.project5.title}"></h2>
            <a th:href="@{/help/donation?project=all#donation-now}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project5.description}"></p>
        </div> <!-- end item -->
        <div class="how-help__item">
          <div class="how-help__image">
            <img class="image-responsive" th:src="@{/img/how-can-help/help_03.png}" th:alt="#{help.projects.project6.alt}" loading="lazy">
          </div>
          <div class="how-help__row">
            <h2 class="how-help__subtitle" th:text="#{help.projects.project6.title}"></h2>
            <a th:href="@{/help/become-volunteer#become-volunteer}" class="how-help__link icon-arrow-right2"></a>
          </div>
          <p class="how-help__text-hidden" th:text="#{help.projects.project6.description}"></p>
        </div><!-- end item -->
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>