<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" th:content="#{index.head.meta.description}"/>

  <title th:text="#{index.head.title}"></title>

  <link rel="canonical" href="http://www.saveukraine.global"/>
  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="main-page">

  <div class="flag-gifs">
    <div class="gif-ukraine gif-ukraine-left">
      <img th:src="@{/img/flag-ukraine.gif}" th:alt="#{index.flags.alt}" class="image-responsive" loading="lazy">
    </div>
    <div class="gif-ukraine gif-ukraine-right">
      <img th:src="@{/img/flag-ukraine.gif}" th:alt="#{index.flags.alt}" class="image-responsive" loading="lazy">
    </div>
  </div>

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <!-- Main -->
  <main class="main">
    <section class="main__slider slider-main">
      <div class="main__container container">
        <div class="slider-main__body">
          <div class="slider-main__content slider-content">
            <p class="slider-main__parag" th:text="#{index.slider-main-paragraph}"></p>
            <h1 class="slider-main__title">
              <span th:text="#{index.slider-main-title1}" th:remove="tag"></span>
              <span th:text="#{index.slider-main-title2}"></span>
            </h1>
            <div class="slider-main__text">
              <span th:text="#{index.slider-main-text1}" th:remove="tag"></span>
              <span th:text="#{index.slider-main-text2}"></span>
              <span th:text="#{index.slider-main-text3}" th:remove="tag"></span>
            </div>
            <div class="slider-main__buttons">
                <a th:href="@{/help#how-can-help}" class="_btn slider-main__button" th:text="#{index.slider.projects}"></a>
                <a th:href="@{/help/donation#donation-now}" class="_btn slider-main__button" th:text="#{index.slider.donation}"></a>
              </div>
          </div>
          <div class="slider-main-ukrain swiper">
            <div class="slider-wrapper-ukrain swiper-wrapper">
              <div class="slide-main-ukrain swiper-slide">
                <img th:src="@{/img/slider-ukrain/ukraine-slider_1.png}" th:alt="#{index.slider.image.alt}" class="image-responsive" loading="lazy">
              </div>
              <div class="slide-main-ukrain swiper-slide">
                <img th:src="@{/img/slider-ukrain/ukraine-slider_2.png}" th:alt="#{index.slider.image.alt}" class="image-responsive" loading="lazy">
              </div>
              <div class="slide-main-ukrain swiper-slide">
                <img th:src="@{/img/slider-ukrain/ukraine-slider_3.png}" th:alt="#{index.slider.image.alt}" class="image-responsive" loading="lazy">
              </div>
              <div class="slide-main-ukrain swiper-slide">
                <img th:src="@{/img/slider-ukrain/ukraine-slider_4.png}" th:alt="#{index.slider.image.alt}" class="image-responsive" loading="lazy">
              </div>
            </div>
            <div class="swiper-pagination slider-dots-ukrain"></div>
            <div class="slider-arrows">
              <div class="swiper-button-prev slider-arrows-prev"></div>
              <div class="swiper-button-next slider-arrows-next"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="main__picture"></div>
    <section class="main__about-us about-us">
      <div class="main__container container">
        <h2 class="main__title title" th:text="#{index.about-us.title}"></h2>
        <div class="about-fond__body">
          <div class="about-fond__text">
            <p class="about-fond__parag" th:text="#{index.about-us.paragraph1}"></p>
            <p class="about-fond__parag" th:text="#{index.about-us.paragraph2}"></p>
            <p class="about-fond__parag" th:text="#{index.about-us.paragraph3}"></p>
            <p class="about-fond__parag" th:text="#{index.about-us.paragraph4}"></p>
          </div>
          <div class="about-fond__content">
            <div class="about-fond__content-item">
              <div class="content-item__img">
                <img th:src="@{/img/about-fond/humanitarian-aid.svg}" th:alt="#{index.humanitarian-aid.alt}" loading="lazy">
              </div>
              <p class="content-item__text" th:text="#{index.block1}"></p>
            </div>
            <div class="about-fond__content-item">
              <div class="content-item__img">
                <img th:src="@{/img/about-fond/hand&heart.svg}" th:alt="#{index.hand-heart.alt}" loading="lazy">
              </div>
              <p class="content-item__text" th:text="#{index.block2}"></p>
            </div>
            <div class="about-fond__content-item">
              <div class="content-item__img">
                <img th:src="@{/img/about-fond/location-city.svg}" th:alt="#{index.location-city.alt}" loading="lazy">
              </div>
              <p class="content-item__text" th:text="#{index.block3}"></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="main-oda oda">
      <div class="oda__wrapper">
        <div class="oda__container">
          <div class="oda__content">
            <p th:text="#{index.mission.block1}"></p>
            <p><span class="oda__color-blue" th:text="#{index.mission.block2}"></span></p>
            <p>
              <span th:text="#{index.mission.block3}" th:remove="tag"></span>
              <span class="oda__color-red" th:text="#{index.mission.block4}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slider-building">
      <div class="main__container container">
        <div class="slider-main-building swiper">
          <div class="slider-wrapper-building swiper-wrapper">
            <div class="slide-building swiper-slide">
              <div class="slide-building__image">
                <img th:src="@{/img/slide-building/slide-building_01.png}" th:alt="#{index.slider.building1.alt}">
              </div>
              <div class="slide-building__text" th:text="#{index.slider.building1.text}"></div>
            </div>
            <div class="slide-building swiper-slide">
                <div class="slide-building__image">
                  <img th:src="@{/img/slide-building/slide-building_02.png}" th:alt="#{index.slider.building2.alt}">
                </div>
              <div class="slide-building__text" th:text="#{index.slider.building2.text}"></div>
            </div>
            <div class="slide-building swiper-slide">
              <div class="slide-building__image">
                <img th:src="@{/img/slide-building/slide-building_03.png}" th:alt="#{index.slider.building3.alt}">
              </div>
              <div class="slide-building__text" th:text="#{index.slider.building3.text}"></div>
            </div>
            <div class="slide-building swiper-slide">
              <div class="slide-building__image">
                <img th:src="@{/img/slide-building/slide-building_04.png}" th:alt="#{index.slider.building4.alt}">
              </div>
              <div class="slide-building__text" th:text="#{index.slider.building4.text}"></div>
            </div>
            <div class="slide-building swiper-slide">
              <div class="slide-building__image">
                <img th:src="@{/img/slide-building/slide-building_05.png}" th:alt="#{index.slider.building5.alt}">
              </div>
              <div class="slide-building__text" th:text="#{index.slider.building5.text}"></div>
            </div>
          </div>
          <div class="slider-building__arrows building-arrows">
            <div class="swiper-button-prev building-arrow building-arrows__prev icon-arrow-right2"></div>
            <div class="swiper-button-next building-arrow building-arrows__next icon-arrow-right2"></div>
          </div>
        </div>
      </div>
    </div>
    <!--/*@thymesVar id="reports" type="java.util.List"*/-->
    <section th:if="${reports ne null and reports.isEmpty() ne true}" class="main__reports reports">
      <div class="main__container container">
        <div class="reports__row">
          <h2 class="main__title title" th:text="#{index.reports.title}"></h2>
          <div class="reports__anchor anchor">
            <a th:href="@{/reports#all-report}" class="anchor__link icon-arrow-right2" th:text="#{index.reports.all-reports}"></a>
          </div>
        </div>
        <div class="reports__body">

          <!--/*@thymesVar id="reports" type="java.util.List"*/-->
          <!--/*@thymesVar id="report" type="global.saveukraine.volunteer.entity.Report"*/-->
          <div th:each="report : ${reports}" class="reports__item item-reports">
            <div th:if="${report.images ne null}" class="item-reports__image">
              <img class="image-responsive" src="#" th:src="'/storage/' + ${report.images[0].name}" th:alt="#{index.reports.report-img.alt}" loading="lazy">
            </div>
            <div class="item-reports__content">
              <div class="item-reports__subtitle">
                <p th:text="${#temporals.format(report.dateTimeOf, 'dd-MM-yyyy, HH:mm')}"></p>
              </div>
              <div class="item-reports__text" th:text="${report.description}"></div>
              <div class="item-reports__link">
                <a href="#" th:href="'/reports/' + ${report.id}" class="anchor__link icon-arrow-right2" th:text="#{index.reports.open}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>