<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

  <link th:href="@{/css/style.css}" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>

<div class="wrapper" id="reports">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="reports">
    <div class="reports__container container">

      <div class="how-help__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <p class="main-link__submenu"> / Блог</p>
      </div>

      <h1 class="reports__title title">Блог БФ «Врятувати <span>Україну»</span></h1>
      <p class="reports__parag text-parag">На цій сторінці ви можете побачити результати роботи Міжнародного Благодійного Фонду “Врятувати Україну”.</p>
      <div class="reports__body" id="all-report">

        <!--/*@thymesVar id="reportPage" type="org.springframework.data.domain.Page"*/-->
        <!--/*@thymesVar id="report" type="global.saveukraine.volunteer.entity.Report"*/-->
        <div th:each="report : ${reportPage.content}" class="reports__item">
          <div class="item-reports">
            <div th:if="${report.images ne null}" class="item-reports__image">
              <img class="image-responsive" src="#" th:src="'/storage/' + ${report.images[0].name}" alt="">
            </div>
            <div class="item-reports__content">
              <p class="item-reports__date" th:text="${#temporals.format(report.dateTimeOf, 'dd-MM-yyyy, HH:mm')}"></p>
              <p class="item-reports__subtitle" th:text="${report.title}"></p>
              <p class="item-reports__text" th:text="${report.description}"></p>
              <div class="item-reports__link">
                <a th:href="'/reports/' + ${report.id}" class="anchor__link icon-arrow-right2">Подивитись повністю</a>
              </div>
            </div>
          </div>
        </div>

        <!--/*@thymesVar id="reportPage" type="org.springframework.data.domain.Page"*/-->
        <div class="reports-pagination__body">
          <a th:if="${reportPage.number ne 0}"
             th:href="@{/reports(page=${reportPage.number})}"
             class="icon-arrow-right2 reports-pagination__link" href="#"></a>
          <div th:if="${reportPage.totalPages > 0}" class="reports-pagination__row">
            <a th:each="pageNumber : ${pageNumbers}"
               th:href="@{/reports(size=${reportPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber == reportPage.number + 1} ? 'bulit-active'"></a>
          </div>
          <a th:if="${reportPage.number + 1 ne reportPage.totalPages}"
             th:href="@{/reports(page=${reportPage.number + 2})}"
             class="icon-arrow-right2 reports-pagination__link" href="#"></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>