<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БО «МБФ «ВРЯТУВАТИ УКРАЇНУ»</title>

  <link rel="canonical" href="#"/>

  <link rel="shortcut icon" th:href="@{/img/favicon-heart.ico}" type="image/x-icon">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans" >

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body>

<div class="wrapper" id="report-item">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="report">
    <!--/*@thymesVar id="report" type="global.saveukraine.volunteer.model.Report"*/-->
    <div class="container__report container">
      <div class="how-help__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <a th:href="@{/reports#reports}" class="main-link__subanchor">/ Звіти</a>
        <p class="main-link__submenu" th:text="' / Звіт від ' + ${#temporals.format(report.dateTimeOf, 'dd-MM-yyyy, HH:mm')}"></p>
      </div>
      <h1 class="reports__title title" th:text="'Звіт від ' + ${#temporals.format(report.dateTimeOf, 'dd-MM-yyyy, HH:mm')}"></h1>
      <p class="report__city" th:text="${report.city}"></p>
      <p class="report__parag" th:text="${report.description}"></p>
      <div class="report__slider slider-report">
        <div class="swiper swiper-report__big">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_03.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_04.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_03.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_04.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
          </div>
          <div class="swiper-report-arrows swiper-arrow__next icon-arrow-right2"></div>
          <div class="swiper-report-arrows swiper-arrow__prev icon-arrow-right2"></div>
        </div>
        <div thumbsSlider="" class="swiper swiper-report__small">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_03.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_04.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_03.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_04.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}" alt="">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="report-arrows">
    <div class="report-arrows__container container">
      <div class="report-arrows__body">
        <div class="report-arrows__prev">
          <a href="" class="report-arrows__link icon-arrow-right2"><span class="arrow-text__hidden">Подивитись наступний звіт</span></a>
        </div>
        <div class="text-report__show">Звіти</div>
        <div class="report-arrows__next">
          <a href="" class="report-arrows__link icon-arrow-right2"><span class="arrow-text__hidden">Подивитись попередній звіт</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="report-baner ">
    <div class="report-baner__container container">
      <div class="report-baner__body">
        <h3 class="report-baner__title">Україна потребує вашої допомоги!</h3>
        <div class="report-baner__donate donate">
          <a th:href="@{/help/donation#donation-now}" class="donate__link _btn">Допомогти</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>