<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>БФ «Врятувати Україну»</title>

  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">

  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body>

<div class="wrapper">

  <!-- Header -->
  <th:block th:replace="fragments/header"/>

  <!-- Main menu -->
  <th:block th:replace="fragments/main-menu"/>

  <section class="report" id="report-item">
    <div class="container__report container">
      <div class="how-help__main-link main-link">
        <a th:href="@{/index#main-page}" class="main-link__anchor">Головна</a>
        <a th:href="@{/reports#reports}" class="main-link__subanchor">/ Звіти</a>
        <!-- todo add title -->
        <p class="main-link__submenu"> / Звіт від 15-03-2022, 15:00</p>
      </div>
      <!-- todo add title -->
      <h2 class="reports__title title">Звіт від 15-03-2022, 15:00</h2>
      <!-- todo add city -->
      <p class="report__city">Харків</p>
      <!-- todo add description -->
      <p class="report__parag">
        Міжнародний Благодійний фонд «Врятувати Україну» - це не прибуткова організація, яка має на меті уникнути
        гуманітарної катастрофи в Україні, викликаної військовою агресією з боку Росії.
        Наш фонд надаватиме гуманітарну допомогу всім гостро нужденним лише через перевірених волонтерів, або власними
        силами під час військових дій і після них.
        Після перемоги України фонд займеться відновленням найкрасивішого рідного міста - героя Харкова.
      </p>
      <!-- todo add images -->
      <div class="report__slider slider-report">
        <div class="swiper swiper-report__big">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_03.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_04.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_03.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_04.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__big">
              <img th:src="@{/img/reports_02.png}">
            </div>
          </div>
          <div class="swiper-report-arrows swiper-arrow__next icon-arrow-right2"></div>
          <div class="swiper-report-arrows swiper-arrow__prev icon-arrow-right2"></div>
        </div>
        <div thumbsSlider="" class="swiper swiper-report__small">
          <div class="swiper-wrapper">
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_03.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_04.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_03.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_04.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_01.png}">
            </div>
            <div class="swiper-slide slide-report__small">
              <img th:src="@{/img/reports_02.png}">
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <div class="report-arrows">
    <div class="report-arrows__container container">
      <div class="report-arrows__body">
        <div class="report-arrows__prev">
          <a href="" class="report-arrows__link icon-arrow-right2"><span class="arrow-text__hidden">Подивитись наступний звіт</span></a>
        </div>
        <div class="text-report__show">Звіти</div>
        <div class="report-arrows__next">
          <a href="" class="report-arrows__link icon-arrow-right2"><span class="arrow-text__hidden">Подивитись попередній звіт</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="report-baner ">
    <div class="report-baner__container container">
      <div class="report-baner__body">
        <h3 class="report-baner__title">Україна потребує вашої допомоги!</h3>
        <div class="report-baner__donate donate">
          <a th:href="@{/help/donation#donation-now}" class="donate__link _btn">Допомогти</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <th:block th:replace="fragments/footer"/>

</div>

<a class="icon-arrow-right2" href="#" id="scrollToTop"></a>
<script th:src="@{/js/script.js}"></script>

</body>

</html>